@page "/projects/{projectId}/tasks/redact_and_send"
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.RedactAndSendDocumentsTask.RedactAndSendDocumentsTaskModel
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@{
  Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Redact and send documents";
}
@section TaskHeaderHintSection {
    <div class="govuk-hint">
        <p>All relevant documents will be added to GOV.UK and the school or trust websites. These documents must be redacted to remove sensitive information.</p>
    </div>
}

@section TaskSection {
    <form method="post">
        <input type="hidden" asp-for="TasksDataId" />
        <input type="hidden" name="type" asp-for="Type" />
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item data-cy="redact" id="redact" asp-for="@Model.Redact" value="true" name="redact" checked="@Model.Redact">
                    <b>Redact all relevant documents</b>
                     <govuk-checkboxes-item-hint>
                         <govuk-details>
                             <govuk-details-summary>
                                <span class="govuk-details__summary-text">Help redacting the documents</span>
                            </govuk-details-summary>
                            <govuk-details-text>
                                <p>You need to create a redacted version of each applicable document after they've been signed by the Secretary of State:</p>
                                <ul>
                                    <li>supplemental funding agreement</li>
                                    <li>master funding agreement</li> 
                                    <li>church supplemental agreement (if applicable)</li>
                                    <li>deed of variation</li>
                                </ul>
                                <p>You must remove or hide:</p>
                                <ul> 
                                    <li>names</li>
                                    <li>signatures</li>
                                    <li>home addresses</li>
                                    <li>any other personal information</li> 
                                </ul>
                            </govuk-details-text>
                         </govuk-details>
                     </govuk-checkboxes-item-hint>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="saved" id="saved" asp-for="@Model.Saved" value="true" name="saved" checked="@Model.Saved">
                    <b>Save relevant documents in the school's SharePoint folder</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="send" id="send" asp-for="@Model.Send" value="true" name="send" checked="@Model.Send">
                    <b>Send the redacted documents to the funding agreements mailbox to be published on GOV.UK</b>
                    <govuk-checkboxes-item-hint>
                        <external-link href="@_configuration["ExternalLinks:HelpRedactingDocuments"]">Help redacting the documents (opens in new tab)</external-link>
                    </govuk-checkboxes-item-hint>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="send_to_solicitors" id="send_to_solicitors" asp-for="@Model.SendToSolicitors" value="true" name="send_to_solicitors" checked="@Model.SendToSolicitors">
                    <b>Send the redacted and unredacted versions of documents to the solicitors</b>
                    <govuk-checkboxes-item-hint>
                        <p>You can copy the school and trust into this email too. They will publish relevant documents on their websites.</p>
                    </govuk-checkboxes-item-hint>
                </govuk-checkboxes-item>

            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}