@page "/projects/{projectId}/notes"
@using Dfe.Complete.Constants
@using Dfe.Complete.Extensions;
@using Dfe.Complete.Domain.Enums;

@model Dfe.Complete.Pages.Projects.Notes.ViewProjectNotesModel
@{
    Layout = "_ProjectLayout";
    ViewData["Title"] = "Project notes";

    var addNoteLink = string.Format(RouteConstants.ProjectAddNote, Model.ProjectId);
    var userId = User.GetUserId();

    var canAddNotes = Model.Project.State == ProjectState.Active;
    var projectEditable = Model.Project.State != ProjectState.Completed;
}

<govuk-project-tabs project-id="@Model.ProjectId" project-type="" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Notes</h2>
        @if (canAddNotes)
        {
            <div class="govuk-!-margin-bottom-5">
                <a data-module="govuk-button" draggable="false" role="button" class="govuk-button" href="@addNoteLink">
                    Add note
                </a>
            </div>
        }

        @if (Model.Notes.Count == 0)
        {
            <div class="govuk-inset-text">There are not any notes for this project yet.</div>
        }

        @foreach (var note in Model.Notes)
        {
            var editNoteLink = string.Format(RouteConstants.ProjectEditNote, Model.ProjectId, note.Id);

            <div id="note-entry-@note.Id">
                <span class="govuk-caption-m">@note.CreatedAt.ToDateString()</span>
                <h3 class="govuk-heading-m">@note.UserFullName</h3>
                <p class="govuk-body-m">@note.Body</p>
                @if (userId == note.UserId && !projectCompleted)
                {
                    <p class="govuk-body govuk-!-font-size-16">
                        <a class="govuk-link" href="@editNoteLink">Edit</a>
                    </p>
                }
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            </div>
        }

    </div>
</div>
