@page "/projects/{projectId}/tasks/redact_and_send"
@using Dfe.Complete.Utils;
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.RedactAndSendDocumentsTask.RedactAndSendTaskModel
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = Model.TaskIdentifier.ToDisplayDescription();
}
@section TaskHeaderHintSection {
    <div class="govuk-hint">
        <p>All relevant documents will be added to GOV.UK and the school or trust websites. These documents must be redacted to remove sensitive information.</p>
        <p>Refer to the <external-link href="@_configuration["ExternalLinks:ApprovalToOpeningGuidance"]">Approval to Opening guidance</external-link> for further information on redacting and saving documents.</p>
    </div>
}

@section TaskSection {
    <form method="post">
        <input type="hidden" asp-for="TasksDataId" />        
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--m">
                    Confirm document actions
                    <span class="govuk-caption-m">Select all that apply</span>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item data-cy="redact" id="redact" asp-for="@Model.Redact" value="true" name="redact" checked="@Model.Redact">
                    <b>Redact all relevant documents</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="saved" id="saved" asp-for="@Model.Saved" value="true" name="saved" checked="@Model.Saved">
                    <b>Save relevant documents in the school's SharePoint folder</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="send" id="send" asp-for="@Model.Send" value="true" name="send" checked="@Model.Send">
                    <b>Send the redacted documents to the funding agreements mailbox to be published on GOV.UK</b>
                    <govuk-checkboxes-item-hint>
                        <external-link href="@_configuration["ExternalLinks:HelpRedactingDocuments"]">Help redacting the documents (opens in new tab)</external-link>
                    </govuk-checkboxes-item-hint>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="send_to_solicitors" id="send_to_solicitors" asp-for="@Model.SendToSolicitors" value="true" name="send_to_solicitors" checked="@Model.SendToSolicitors">
                    <b>Send the redacted and unredacted versions of documents to the solicitors</b>
                </govuk-checkboxes-item>

            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}