@page "/projects/all/by-month/conversions/{month}/{year}"
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model Dfe.Complete.Pages.Projects.List.ProjectsByMonth.ConversionProjectsByMonthModel
@{
    Layout = "List/ProjectsByMonth/_ProjectsByMonthLayout";
    ViewData["Title"] = "Academies opening or transferring";
}
@section PageHeading
{
    <span class="govuk-caption-l">Academies opening or transferring</span>
    <h1 class="govuk-heading-l">
        @Model.DateString
    </h1>
    <p>Schools that will become academies, and academies that will move to a different trust.</p>

    <p>You can now view and download the Next Month's Academy Conversions and Transfers Reports on Power BI.</p>
    <p>Use the Explore All Data report to view historic data for Academies that have already converted or transferred, as well as those scheduled to do so after next month.</p>
    <a href="@Configuration["ExternalLinks:PowerBiReports"]"
       draggable="false"
       class="govuk-button govuk-button--success"
       data-module="govuk-button"
       target="_blank"
       rel="noopener noreferrer">
        View reports in Power BI
    </a>
}

<div class="govuk-grid-column-full">
    @{
        if (Model.Projects.Any())
        {
            <partial name="Projects/List/ProjectsByMonth/_ProjectsByMonthTable" model="@Model.Projects" />
        }
        else
        {
            <div class="govuk-inset-text">
                There are no projects due to convert between @Model.DateString and @Model.DateString
            </div>
        }
    }
</div>