@using Dfe.Complete.Pages.Projects.List.ProjectsInProgress
@model Dfe.Complete.Pages.Projects.List.ProjectsInProgress.ProjectsInProgressModel
@{
  Layout = "List/_AllProjectsLayout";
  var ariaCurrentValue = "page";
  string? IsCurrentNav(string tabName) => Model.CurrentSubNavigationItem == tabName ? ariaCurrentValue : null;
}

@await RenderSectionAsync("PageHeading", true)

<nav class="moj-sub-navigation" aria-label="Project sub-navigation">
  <ul class="moj-sub-navigation__list">

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link"
         aria-current="@IsCurrentNav(ProjectsInProgressModel.AllProjectSubNavigation)"
         asp-page="AllProjectsInProgress">
        All projects
      </a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" 
         aria-current="@IsCurrentNav(ProjectsInProgressModel.ConversionsSubNavigation)" 
         asp-page="ConversionProjectsInProgress">Conversions</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" 
         aria-current="@IsCurrentNav(ProjectsInProgressModel.TransfersSubNavigation)" 
         asp-page="TransferProjectsInProgress">Transfers</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" 
         aria-current="@IsCurrentNav(ProjectsInProgressModel.FormAMatSubNavigation)" 
         asp-page="FormAMATProjectsInProgress">Form a MAT</a>
    </li>


  </ul>
</nav>
<div class="govuk-grid-row">
  @RenderBody()
</div>