@page "/form-a-multi-academy-trust/{reference}"
@using Dfe.Complete.Pages.Projects.List
@using Dfe.Complete.Utils
@model Dfe.Complete.Pages.Projects.List.ProjectsInProgress.MultiAcademyTrustModel
@{
    ViewData["Title"] = "Form a MAT projects in progress";
}

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">TRN: @Model.MAT.identifier</span>
        @Model.MAT.trustName
    </h1>
</div>
<div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Project sub-navigation">
        <ul class="moj-sub-navigation__list">

            <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link"
                   aria-current="page">
                    Schools and academies forming this trust
                </a>
            </li>
        </ul>
    </nav>

    <table class="govuk-table" name="projects_table" aria-label="Projects table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">School or academy</th>
            <th class="govuk-table__header" scope="col">URN</th>
            <th class="govuk-table__header" scope="col">Conversion or transfer date</th>
            <th class="govuk-table__header" scope="col">Project type</th>
            <th class="govuk-table__header" scope="col">Assigned to</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        @foreach (var project in Model.MAT.projectModels)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__header govuk-table__cell">
                    <a class="govuk-link" href="@AllProjectsModel.GetProjectSummaryUrl(project.ProjectId)">@project.EstablishmentName</a>
                </td>
                <td class="govuk-table__cell">@project.Urn.Value</td>
                <td class="govuk-table__cell">@project.ConversionOrTransferDate.ToMonthYearString()</td>
                <td class="govuk-table__cell">@project.ProjectType.ToDisplayDescription()</td>
                <td class="govuk-table__cell">@(project.AssignedToFullName != null ? $"{project.AssignedToFullName}" : "Not yet assigned")</td>
            </tr>
        }
        </tbody>
    </table>
</div>