@page "/projects/{projectId}/tasks/check_and_confirm_financial_information"
@using Dfe.Complete.Utils
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.AcademyAndTrustFinancialInfoTask.AcademyAndTrustFinancialInfoTaskModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = Model.TaskIdentifier.ToDisplayDescription();
    var financialStatus = new[] { "Surplus", "Deficit" };
}
@section TaskHeaderHintSection {
    <div class="govuk-hint">
        <p>The academy or incoming trust must use any budget surplus they have to fund the transfer. </p>
        <p>If the cost of the transfer exceeds their budget surplus, they may be eligible for a transfer grant.</p> 
        <p>These grants are available to help with the costs of an academy transfer. They can also fund some academy improvements.</p> 
        <p>Mark this task as not applicable if no transfer grant will be used.</p>
    </div>
}
@section TaskSection { 
    <form method="post">
        <input type="hidden" asp-for="TasksDataId" />
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item id="not-applicable" asp-for="@Model.NotApplicable" value="true" name="@nameof(Model.NotApplicable)" data-cy="@nameof(Model.NotApplicable)" checked="@Model.NotApplicable">
                    <b>Not applicable</b>
                </govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        <govuk-radios name="@nameof(Model.AcademySurplusOrDeficit)" asp-for="@Model.AcademySurplusOrDeficit">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                    Is the academy in surplus or deficit? 
                </govuk-radios-fieldset-legend>
                <govuk-radios-hint>
                    Ask the academy for this information if you don't have it already. 
                </govuk-radios-hint>
                @foreach (var status in financialStatus)
                {
                    var statusInLowerCase = status.ToLower();
                    <govuk-radios-item data-cy="academy-@statusInLowerCase" value="@statusInLowerCase" checked="@(Model.AcademySurplusOrDeficit?.ToLower() == statusInLowerCase)">@status</govuk-radios-item>
                }
            </govuk-radios-fieldset>
        </govuk-radios>
        <govuk-radios name="@nameof(Model.TrustSurplusOrDeficit)" asp-for="@Model.TrustSurplusOrDeficit">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                    Is the incoming trust in surplus or deficit?
                </govuk-radios-fieldset-legend>
                <govuk-radios-hint>
                    You should work with SFSO (Schools Finance and Support Oversight) to ask the trust for this information if you don't have it already.
                </govuk-radios-hint>
                @foreach (var status in financialStatus)
                {
                    var statusInLowerCase = status.ToLower();
                    <govuk-radios-item data-cy="trust-@statusInLowerCase" value="@statusInLowerCase" checked="@(Model.TrustSurplusOrDeficit?.ToLower() == statusInLowerCase)">@status</govuk-radios-item>
                }
            </govuk-radios-fieldset>
        </govuk-radios>
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}
