@page "/projects/{projectId}/tasks/conditions_met"
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmTransferHasAuthorityToProceedTask.ConfirmTransferHasAuthorityToProceedTaskModel
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Confirm this transfer has authority to proceed";
    var confirmToProceed = "confirm-to-proceed";
    var baselineSheetApproved = "baseline-sheet-approved";
    var anyInformationChanged = "any-information-changed";
}
@section TaskHeaderHintSection {
    <div class="govuk-hint">
        <p>
            The deadline for getting authority to proceed is in the email you got from SOPU (Schools Operational Practice Unit). The project must have authority to proceed by the deadline or the academy will not transfer on 1 January 2024.
        </p>
        <govuk-details>
            <govuk-details-summary>
                <span class="govuk-details__summary-text">How to check the transfer has authority to proceed</span>
            </govuk-details-summary>
            <govuk-details-text>
                <p>The transfer cannot proceed until:</p>
                <ul>
                    <li>legal documents are cleared and signed</li>
                    <li>the academy have confirmed all of their actions are complete</li>
                    <li>information in the baseline spreadsheet is correct and approved</li>
                </ul>
            </govuk-details-text>
        </govuk-details>
    </div>
}
@section TaskSection {

    <form method="post">
        <input type="hidden" asp-for="TasksDataId" /> 
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item id="@anyInformationChanged" asp-for="@Model.AnyInformationChanged" value="true" name="@anyInformationChanged" checked="@Model.AnyInformationChanged">
                    <b>Check if any information has changed from the first baseline</b>
                    <govuk-checkboxes-item-hint>
                        <p>You must update any changed information in this month's <a href="@_configuration["ExternalLinks:SecondBaseLineSpreadsheet"]" target="_blank">second baseline spreadsheet (opens in new tab)</a>.</p>
                    </govuk-checkboxes-item-hint>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item id="@baselineSheetApproved" asp-for="@Model.BaselineSheetApproved" value="true" name="@baselineSheetApproved" checked="@Model.BaselineSheetApproved">
                    <b>Baseline spreadsheet approved</b>
                    <govuk-checkboxes-item-hint>
                        <p>A Deputy Director, or a Grade 6 civil servant with delegated authority, must sign-off on this month's transfers.</p>
                    </govuk-checkboxes-item-hint>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item id="@confirmToProceed" asp-for="@Model.ConfirmToProceed" value="true" name="@confirmToProceed" checked="@Model.ConfirmToProceed">
                    <b>Confirm the project has authority to proceed</b>
                    <govuk-checkboxes-item-hint>
                        <p>This will change the transfer's status on the By Month project list.</p>
                        <p>SOPU and ESFA (Education and Skills Funding Agency) use it to prepare and send the GAG (general annual grant) funding.</p>
                        <govuk-details>
                            <govuk-details-summary>
                                <span class="govuk-details__summary-text">What to do if the transfer does not have authority to proceed</span>
                            </govuk-details-summary>
                            <govuk-details-text>
                                <p>You must agree a new transfer date with all stakeholders, then change the transfer date for this project.</p>
                            </govuk-details-text>
                        </govuk-details>
                    </govuk-checkboxes-item-hint>
                </govuk-checkboxes-item> 
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}
