@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.MasterFundingAgreementTask.MasterFundingAgreementTaskModel

<form method="post">
    <input type="hidden" asp-for="TasksDataId"/>
    <input type="hidden" asp-for="Type"/>
    <govuk-checkboxes name="options">
        <govuk-checkboxes-fieldset>
            <govuk-checkboxes-fieldset-legend>
            </govuk-checkboxes-fieldset-legend>
            <govuk-checkboxes-item id="not-applicable" data-cy="not-applicable" asp-for="@Model.NotApplicable" value="true" name="@nameof(Model.NotApplicable)" checked="@Model.NotApplicable">
                <b>Not applicable</b>
            </govuk-checkboxes-item>
        </govuk-checkboxes-fieldset>
    </govuk-checkboxes>
    <div class="govuk-form-group">
        <h2 class="govuk-heading-l">Check and clear the master funding agreement</h2>
    </div>
    <govuk-checkboxes name="options">
        <govuk-checkboxes-fieldset>
            <govuk-checkboxes-fieldset-legend>
            </govuk-checkboxes-fieldset-legend>
            <govuk-checkboxes-item id="@(nameof(Model.Received))" data-cy="received" asp-for="@Model.Received" value="true" name="@(nameof(Model.Received))" checked="@Model.Received">
                <b>Received</b>
            </govuk-checkboxes-item>
            <govuk-checkboxes-item id="@(nameof(Model.Cleared))" data-cy="cleared" asp-for="@Model.Cleared" value="true" name="@(nameof(Model.Cleared))" checked="@Model.Cleared">
                <b>Cleared</b>
            </govuk-checkboxes-item>
            
            <govuk-checkboxes-item id="@(nameof(Model.SavedInTheSchoolsSharepoint))" data-cy="saved" asp-for="@Model.SavedInTheSchoolsSharepoint" value="true" name="@(nameof(Model.SavedInTheSchoolsSharepoint))" checked="@Model.SavedInTheSchoolsSharepoint">
                <b>Draft saved in the school's SharePoint folder</b>
            </govuk-checkboxes-item>

            <govuk-checkboxes-item id="@(nameof(Model.SignedBySchoolOrTrust))" data-cy="signed" asp-for="@Model.SignedBySchoolOrTrust" value="true" name="@(nameof(Model.SignedBySchoolOrTrust))" checked="@Model.SignedBySchoolOrTrust">
                <b>Signed by trust</b>
            </govuk-checkboxes-item>
            
            <govuk-checkboxes-item id="@(nameof(Model.SignedOnBehalfOfSeceratyOfState))" data-cy="signed-by-secretary-of-state" asp-for="@Model.SignedOnBehalfOfSeceratyOfState" value="true" name="@(nameof(Model.SignedOnBehalfOfSeceratyOfState))" checked="@Model.SignedOnBehalfOfSeceratyOfState">
                <b>Signed and sealed on behalf of SoS</b>
                <govuk-checkboxes-hint>
                    <p>The Secretary of State, or somebody with the <external-link href="@_configuration["ExternalLinks:SOSAuthorisedSignatories"]">authority to act on their behalf</external-link>, must sign the supplemental funding agreement.</p>
                </govuk-checkboxes-hint>
            </govuk-checkboxes-item>
            
            <govuk-checkboxes-item id="@(nameof(Model.SavedInSchoolAndTrustSharepoint))" data-cy="sent" asp-for="@Model.SavedInSchoolAndTrustSharepoint" value="true" name="@(nameof(Model.SavedInSchoolAndTrustSharepoint))" checked="@Model.SavedInSchoolAndTrustSharepoint">
                <b>Final version saved in school's SharePoint folder</b>
            </govuk-checkboxes-item>

        </govuk-checkboxes-fieldset>
    </govuk-checkboxes>
    
    @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
</form>