@page "/projects/yours/in-progress"
@using Dfe.Complete.Application.Projects.Models
@using Dfe.Complete.Constants
@using Dfe.Complete.Pages.Projects.List
@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Html
@model Dfe.Complete.Pages.Projects.Yours.InProgress.YourProjectsInProgress
@inject IAuthorizationService AuthorizationService
@{
    Layout = "Yours/_YourProjectsLayout";
    ViewData["Title"] = "Your projects in progress";
    var userCanCreateProjects = await AuthorizationService.AuthorizeAsync(User, "CanCreateProjects");
}

@if (userCanCreateProjects.Succeeded)
{
    <form asp-page="@RouteConstants.CreateNewProject" method="get">
        <govuk-button type="submit">Add a project</govuk-button>
    </form>
}

<h1 class="govuk-heading-xl">
    Your projects in progress
</h1>

<div class="govuk-grid-column-full">
    @if (Model.ProjectsForUser == null || Model.ProjectsForUser.Count == 0)
    {
        <div class="govuk-inset-text">No projects.</div>
    }
    else
    {
        <table class="govuk-table" name="la-table" aria-label="All projects by local authority">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">School or academy</th>
                <th class="govuk-table__header" scope="col">URN</th>
                <th class="govuk-table__header" scope="col">Type of project</th>
                <th class="govuk-table__header" scope="col">Form a MAT project?</th>
                <th class="govuk-table__header" scope="col">Incoming trust</th>
                <th class="govuk-table__header" scope="col">Outgoing trust</th>
                <th class="govuk-table__header" scope="col">Local authority</th>
                <th class="govuk-table__header" scope="col">Conversion or transfer date</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var project in Model.ProjectsForUser)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__header govuk-table__cell">
                        <a class="govuk-link" href="@AllProjectsModel.GetProjectSummaryUrl(project.ProjectType, project.ProjectId)">@project.SchoolOrAcademyName</a>
                    </td>
                    <td class="govuk-table__cell">@project.Urn.Value</td>
                    <td class="govuk-table__cell">@project.ProjectType</td>
                    <td class="govuk-table__cell">@project.IsFormAMat.ToYesNoString()</td>
                    <td class="govuk-table__cell">
                        @DisplayTrustName(project.IncomingTrustName)
                    </td>
                    <td class="govuk-table__cell">
                        @DisplayTrustName(project.OutgoingTrustName)
                    </td>
                    <td class="govuk-table__cell">@project.LocalAuthority</td>
                    <td class="govuk-table__cell">@project.ConversionOrTransferDate.ToDateMonthYearString()</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

@functions {
    private static IHtmlContent DisplayTrustName(string trustName)
    {
        return !string.IsNullOrEmpty(trustName) ? new HtmlString(trustName) : new HtmlString("<strong class=\"govuk-tag govuk-tag--grey\">None</strong>");
    }
}