@page "/projects/{projectId}/tasks/subleases"
@using Dfe.Complete.Utils
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.SubleasesTask.SubleasesTaskModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Subleases";
}
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = @Model.TaskIdentifier.ToDisplayDescription();
}
@section TaskHeaderHintSection {
    <div class="govuk-hint">
        <p>When schools convert, sometimes there are existing land arrangements that are covered by subleases. You will need to clear any subleases that have changed.</p>
        <p>Once the existing church supplemental agreement has been terminated, you will need to draft a new one for the incoming trust.</p>
    </div>
}
@section TaskSection {
    <form method="post">
        <input type="hidden" asp-for="TasksDataId" />
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item id="not-applicable" asp-for="@Model.NotApplicable" value="true" name="not-applicable" data-cy="not-applicable" checked="@Model.NotApplicable">
                    <b>Not applicable</b>
                </govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--l">
                    Clear any changed subleases
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item data-cy="@nameof(Model.Received)" id="@nameof(Model.Received)" asp-for="@Model.Received" value="true" name="@nameof(Model.Received)" checked="@Model.Received">
                    <b>Received</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="@nameof(Model.Cleared)" id="@nameof(Model.Cleared)" asp-for="@Model.Cleared" value="true" name="@nameof(Model.Cleared)" checked="@Model.Cleared">
                    <b>Cleared</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="@nameof(Model.Signed)" id="@nameof(Model.Signed)" asp-for="@Model.Signed" value="true" name="@nameof(Model.Signed)" checked="@Model.Signed">
                    <b>Signed by school or trust</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="@nameof(Model.Saved)" id="@nameof(Model.Saved)" asp-for="@Model.Saved" value="true" name="@nameof(Model.Saved)" checked="@Model.Saved">
                    <b>Saved in school's Sharepoint folder</b>
                </govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                    Confirm any subleases have been signed
                </govuk-checkboxes-fieldset-legend> 
                <govuk-checkboxes-item data-cy="@nameof(Model.EmailSigned)" id="@nameof(Model.EmailSigned)" asp-for="@Model.EmailSigned" value="true" name="@nameof(Model.EmailSigned)" checked="@Model.EmailSigned">
                    <b>Email the school to ask if all relevant parties have agreed and signed any subleases</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="@nameof(Model.ReceiveSigned)" id="@nameof(Model.ReceiveSigned)" asp-for="@Model.ReceiveSigned" value="true" name="@nameof(Model.ReceiveSigned)" checked="@Model.ReceiveSigned">
                    <b>Receive email from the school confirming all relevant parties have agreed and signed any subleases</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="@nameof(Model.SaveSigned)" id="@nameof(Model.SaveSigned)" asp-for="@Model.SaveSigned" value="true" name="@nameof(Model.SaveSigned)" checked="@Model.SaveSigned">
                    <b>Save a copy of the confirmation email in the school's SharePoint folder</b>
                </govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}