@inject Microsoft.Extensions.Configuration.IConfiguration _configuration 
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ChurchSupplementalAgreementTask.ChurchSupplementalAgreementTaskModel

<div class="govuk-hint">
    <p>A draft CFA must be cleared by the DfE conversion lead prior to signature by all parties.</p>
    <p>You can <external-link data-cy="convert-to-academy-model-doc-link" href="@_configuration["ExternalLinks:ConvertToAcademyModelDocument"]">view the model documents (opens in new tab)</external-link> to check for changes.</p>
    <p>Changes that personalise the model documents to a school or trust, and remove or add optional clauses, are expected, otherwise we do not expect any deviations to the model. You'll need to <external-link data-cy="contact-policy-team-link" href="@_configuration["ExternalLinks:ContactSOPU"]">contact the Schools Operational Practise Unit (opens in new tab)</external-link> about changes to clause text.</p>
</div>
<govuk-checkboxes name="options">
    <govuk-checkboxes-fieldset>
        <govuk-checkboxes-fieldset-legend>
        </govuk-checkboxes-fieldset-legend>
        <govuk-checkboxes-item id="not-applicable" data-cy="not-applicable" asp-for="@Model.NotApplicable" value="true" name="not-applicable" checked="@Model.NotApplicable">
            <b>Not applicable</b>
        </govuk-checkboxes-item>
    </govuk-checkboxes-fieldset>
</govuk-checkboxes>
<div class="govuk-form-group">
    <h2 class="govuk-heading-m">Check and clear the church supplemental agreement</h2>
    <div class="govuk-hint">
        Select all that apply
    </div>
</div>
<govuk-checkboxes name="options">
    <govuk-checkboxes-fieldset>
        <govuk-checkboxes-fieldset-legend>
        </govuk-checkboxes-fieldset-legend>
        <govuk-checkboxes-item data-cy="@nameof(Model.Received)" id="@nameof(Model.Received)" asp-for="@Model.Received" value="true" name="@nameof(Model.Received)" checked="@Model.Received">
            <b>Received</b>
        </govuk-checkboxes-item>
        <govuk-checkboxes-item data-cy="@nameof(Model.Cleared)" id="@nameof(Model.Cleared)" asp-for="@Model.Cleared" value="true" name="@nameof(Model.Cleared)" checked="@Model.Cleared">
            <b>Cleared</b>
        </govuk-checkboxes-item>
        <govuk-checkboxes-item data-cy="@nameof(Model.Saved)" id="@nameof(Model.Saved)" asp-for="@Model.Saved" value="true" name="@nameof(Model.Saved)" checked="@Model.Saved">
            <b>Draft saved in the school’s SharePoint folder</b>
        </govuk-checkboxes-item>
        <govuk-checkboxes-item data-cy="@nameof(Model.Signed)" id="@nameof(Model.Signed)" asp-for="@Model.Signed" value="true" name="@nameof(Model.Signed)" checked="@Model.Signed">
            <b>Signed by trust</b>
        </govuk-checkboxes-item>
        <govuk-checkboxes-item data-cy="@nameof(Model.SignedByDiocese)" id="@nameof(Model.SignedByDiocese)" asp-for="@Model.SignedByDiocese" value="true" name="@nameof(Model.SignedByDiocese)" checked="@Model.SignedByDiocese">
            <b>Signed by Diocesan authority and/or trustee</b> 
        </govuk-checkboxes-item>
        <govuk-checkboxes-item data-cy="@nameof(Model.SignedBySecretaryState)" id="@nameof(Model.SignedBySecretaryState)" asp-for="@Model.SignedBySecretaryState" value="true" name="@nameof(Model.SignedBySecretaryState)" checked="@Model.SignedBySecretaryState">
            <b>Signed and sealed on behalf of SoS</b>
            <govuk-character-hint>
                <p>The Secretary of State, or somebody with the <external-link data-cy="church-supplemental-agreement-authorised-signatories" href="@_configuration["ExternalLinks:ChurchSupplementalAgreementAuthorisedSignatories"]">authority to act on their behalf</external-link>, must sign the supplemental funding agreement.</p>
            </govuk-character-hint>
        </govuk-checkboxes-item> 
        <govuk-checkboxes-item data-cy="@nameof(Model.SentOrSaved)" id="@nameof(Model.SentOrSaved)" asp-for="@Model.SentOrSaved" value="true" name="@nameof(Model.SentOrSaved)" checked="@Model.SentOrSaved">
            <b>Final version saved in school’s SharePoint folder</b>
        </govuk-checkboxes-item>
    </govuk-checkboxes-fieldset>
</govuk-checkboxes>