@page "/projects/{projectId}/tasks/direction_to_transfer"
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.DirectionToTransfer.DirectionToTransferModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Direction to transfer";
}
@section TaskHeaderHintSection {
    <div class="govuk-hint">
        <p>A direction to transfer is only needed when freehold land is owned by a foundation school, governing body or trustees and that land needs to be transferred to the trust or diocese.</p>
        <p>You can <external-link href="@_configuration["ExternalLinks:GIASSearch"]">search Get Information About Schools (opens in new tab)</external-link> to check if it's needed for this school.</p>
    </div>
}
@section TaskSection {

    <form method="post">
        <input type="hidden" asp-for="TasksDataId"/>
        
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item id="@nameof(Model.NotApplicable)" data-cy="@nameof(Model.NotApplicable)" asp-for="@Model.NotApplicable" value="true" name="@nameof(Model.NotApplicable)" checked="@Model.NotApplicable">
                    <b>Not applicable</b>
                </govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        <div class="govuk-form-group">
            <h2 class="govuk-heading-l">Check and clear the direction to transfer</h2>
            <div class="govuk-hint">
                <p>Make sure information in the direction to transfer is correct and compare it against the model document.</p>
                <p>Once checked and cleared, you must send the direction to transfer to SOPU (Schools Operational Practice Unit) at <a href="mailto:@_configuration["Emails:SchoolsOperationalPracticeUnit"]">@_configuration["Emails:SchoolsOperationalPracticeUnit"]</a> for signing.</p>
                <p>This must be sent to them by the deadline they set in their monthly email. This is at the same time as you send the single worksheet.</p>
            </div>

            <govuk-details data-module="govuk-details" class="govuk-details">
                <govuk-details-summary>
                    <span class="govuk-details__summary-text">Help checking for changes</span>
                </govuk-details-summary>
                <govuk-details-text>
                    <p>You need to <external-link href="@_configuration["ExternalLinks:DirectionToTransferModelDocuments"]">compare the direction to transfer against the model documents</external-link> to check for any changes.</p>
                    <p>Changes that personalise the model documents to a school or trust, and remove or add optional clauses, are expected. The wording of clauses should not change.</p>
                    <p>You'll need to <external-link href="@_configuration["ExternalLinks:ContactThePolicyTeam"]">contact the policy team</external-link> about any changes to clause text.</p>
                </govuk-details-text>
            </govuk-details>
        </div>
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item id="@(nameof(Model.Received))" data-cy="@(nameof(Model.Received))" asp-for="@Model.Received" value="true" name="@(nameof(Model.Received))" checked="@Model.Received">
                    <b>Received</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item id="@(nameof(Model.Cleared))" data-cy="@(nameof(Model.Cleared))" asp-for="@Model.Cleared" value="true" name="@(nameof(Model.Cleared))" checked="@Model.Cleared">
                    <b>Cleared</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item id="@(nameof(Model.Signed))" data-cy="@(nameof(Model.Signed))" asp-for="@Model.Signed" value="true" name="@(nameof(Model.Signed))" checked="@Model.Signed">
                    <b>Sent to Academy Operations team mailbox for signing</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item id="@(nameof(Model.Saved))" data-cy="@(nameof(Model.Saved))" asp-for="@Model.Saved" value="true" name="@(nameof(Model.Saved))" checked="@Model.Saved">
                    <b>Saved in the school's SharePoint folder</b>
                </govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>

        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}
