@page "/projects/team/completed"
@using Dfe.Complete.Application.Mappers
@using Dfe.Complete.Pages.Projects.List
@using Dfe.Complete.Domain.Enums
@using Dfe.Complete.Utils
@model Dfe.Complete.Pages.Projects.List.ProjectsForTeam.AllCompletedProjectsForTeamModel
@{
    Layout = "List/ProjectsForTeam/_AllProjectsForTeamLayout";
    ViewData["Title"] = "Your team completed projects";
}
@section PageHeading
{
    <h1 class="govuk-heading-1">
        Your team completed projects
    </h1>
}

<div class="govuk-grid-column-full">
    <table class="govuk-table" name="projects_table" aria-label="Projects table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">School or academy</th>
                <th class="govuk-table__header" scope="col">URN</th>
                <th class="govuk-table__header" scope="col">Local authority</th>
                @if (EnumHelper.TeamIsGeographic(Model.UserTeam))
                {
                    <th class="govuk-table__header" scope="col">Team</th>
                }
                else
                {
                    <th class="govuk-table__header" scope="col">Region</th>
                }
                <th class="govuk-table__header" scope="col">Type of project</th>
                <th class="govuk-table__header" scope="col">Conversion or transfer date</th>
                <th class="govuk-table__header" scope="col">Project completion date</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

            @foreach (var project in Model.Projects)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__header govuk-table__cell">
                        <a class="govuk-link"
                            href="@AllProjectsModel.GetProjectSummaryUrl(project)">@project.EstablishmentName</a>
                    </td>
                    <td class="govuk-table__cell">@project.Urn.Value</td>
                    <td class="govuk-table__cell">@project.LocalAuthorityNameFormatted</td>
                    @if (EnumHelper.TeamIsGeographic(Model.UserTeam))
                    {
                        <td class="govuk-table__cell">@ProjectTeamPresentationMapper.Map(@project.Team)</td>
                    }
                    else
                    {
                        <td class="govuk-table__cell">@project.Region.ToDisplayDescription()</td>
                    }
                    <td class="govuk-table__cell">@project.ProjectType.ToString()</td>
                    <td class="govuk-table__cell">@project.ConversionOrTransferDate.ToDateMonthYearString()</td>
                    <td class="govuk-table__cell">@project.ProjectCompletionDate.ToDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>