@using Dfe.Complete.Utils;

@model Dfe.Complete.Pages.Projects.AboutTheProject.AboutTheProjectModel

<section id="incomingTrustDetails" class="app-summary-card govuk-!-margin-bottom-6">
    <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
            Incoming trust details
        </h2>
    </header>
    <div class="app-summary-card__body">
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @if (!String.IsNullOrWhiteSpace(Model.IncomingTrust?.Name))
                    {
                        @Model.IncomingTrust.Name<br />
                        <external-link class="govuk-link" href="https://get-information-schools.service.gov.uk/Groups/Search?GroupSearchModel.Text=@Model.Project.IncomingTrustUkprn">View the trust information in GIAS (opens in new tab)</external-link>
                    }
                    else
                    {
                        @Model.Project.NewTrustName
                    }
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>UKPRN (UK provider reference number)</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>@Model.Project.IncomingTrustUkprn</govuk-summary-list-row-value>
                @if(Model.UserHasEditAccess() && !string.IsNullOrWhiteSpace(@Model.Project.NewTrustReferenceNumber)) {
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@Model.GetChangeLinkUrl("incoming-trust-ukprn")" visually-hidden-text="UK provider reference number">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                }
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Group ID (identifier)</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @if (!String.IsNullOrWhiteSpace(Model.IncomingTrust?.ReferenceNumber))
                    {
                        @Model.IncomingTrust?.ReferenceNumber
                    }
                    else
                    {
                        @Model.Project.NewTrustReferenceNumber
                    }
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Companies House number</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @if (!String.IsNullOrWhiteSpace(Model.IncomingTrust?.CompaniesHouseNumber))
                    {
                        @Model.IncomingTrust?.CompaniesHouseNumber<br />
                        <external-link class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/company/@Model.IncomingTrust?.CompaniesHouseNumber">View the Companies House information (opens in new tab)</external-link>
                    }
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>New trust reference number (TRN)</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.Project.NewTrustReferenceNumber
                </govuk-summary-list-row-value>
                @if(Model.UserHasAdminAccess() && !string.IsNullOrWhiteSpace(@Model.Project.NewTrustReferenceNumber)) {
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@Model.GetChangeLinkUrl("new_trust_reference_number")" visually-hidden-text="New trust reference number (TRN)">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                }
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Address</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @if (!string.IsNullOrWhiteSpace(@Model.IncomingTrust?.Address?.Street))
                    {
                        @Model.IncomingTrust?.Address?.Street <br />
                    }
                    @if (!string.IsNullOrWhiteSpace(@Model.IncomingTrust?.Address?.Town))
                    {
                        @Model.IncomingTrust?.Address?.Town <br />
                    }
                    @if (!string.IsNullOrWhiteSpace(@Model.IncomingTrust?.Address?.County))
                    {
                        @Model.IncomingTrust?.Address?.County <br />
                    }
                    @if (!string.IsNullOrWhiteSpace(@Model.IncomingTrust?.Address?.Postcode))
                    {
                        @Model.IncomingTrust?.Address?.Postcode
                    }
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>SharePoint folder</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <external-link class="govuk-link" href="@Model.Project.IncomingTrustSharepointLink">View the trust SharePoint folder (opens in new tab)</external-link>
                </govuk-summary-list-row-value>
                @if(Model.UserHasEditAccess()) {
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@Model.GetChangeLinkUrl("sharepoint-folder-links")" visually-hidden-text="Trust sharePoint folder">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                }
            </govuk-summary-list-row>
        </govuk-summary-list>
    </div>
</section>