@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmAllConditionsMetTask.ConfirmAllConditionsMetTaskModel

<form method="post">
    <input type="hidden" asp-for="TasksDataId" />
    <input type="hidden" asp-for="Type" />
    <govuk-radios asp-for="@Model.Confirm" id="@(nameof(Model.Confirm))" name="@(nameof(Model.Confirm))">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                Have all conditions been met?
            </govuk-radios-fieldset-legend>
            <govuk-radios-item value="true" checked="@(Model.Confirm)">Yes</govuk-radios-item>
            <govuk-radios-item value="false" checked="@(!Model.Confirm)">No</govuk-radios-item>
        </govuk-radios-fieldset>    
    </govuk-radios>
    @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
</form>

