@using Dfe.Complete.Constants
@using Dfe.Complete.Domain.Enums
@using Dfe.Complete.TagHelpers
@model Dfe.Complete.Pages.Projects.TaskList.TaskListModel
@inject Dfe.Complete.Services.IProjectPermissionService projectPermissionService;
@{
    var handoverWithDeliveryOfficerLink = string.Format(RouteConstants.ProjectHandoverWithDeliveryOfficerTask, Model.ProjectId);
    var externalStakeHolderKickoffLink = string.Format(RouteConstants.ProjectStakeholderKickoffTask, Model.ProjectId);
    var confirmAcademyRiskProtectionArrangementsLink = string.Format(RouteConstants.ProjectRiskProtectionArrangementTask, Model.ProjectId);
    var checkAccuracyOfHigherNeedsLink = string.Format(RouteConstants.ProjectCheckAccuracyOfHigherNeedsTask, Model.ProjectId);
    var completeNotificationOfChangeLink = string.Format(RouteConstants.ProjectCompleteNotificationOfChangeTask, Model.ProjectId);
    var processConversionSupportGrantLink = string.Format(RouteConstants.ProjectProcessConversionSupportGrantTask, Model.ProjectId);
    var confirmAndProcessSponsoredSupportGrantLink = string.Format(RouteConstants.ProjectConfirmAndProcessSponsoredSupportGrantTask, Model.ProjectId);
    var confirmAcademyNameLink = string.Format(RouteConstants.ProjectConfirmAcademyNameTask, Model.ProjectId);
    var confirmHeadTeacherDetailsLink = string.Format(RouteConstants.ProjectConfirmHeadTeacherDetailsTask, Model.ProjectId);
    var confirmChairOfGovernorsDetailsLink = string.Format(RouteConstants.ProjectConfirmChairOfGovernorsDetailsTask, Model.ProjectId);
    var confirmIncomingTrustCeoDetailsLink = string.Format(RouteConstants.ProjectConfirmIncomingTrustCeoDetailsTask, Model.ProjectId);
    var confirmMainContactLink = string.Format(RouteConstants.ProjectConfirmMainContactTask, Model.ProjectId);
    var confirmProposedCapacityOfTheAcademyLink = string.Format(RouteConstants.ProjectConfirmProposedCapacityOfTheAcademyTask, Model.ProjectId);

    var aboutConversionProject = string.Format(RouteConstants.ProjectAbout, Model.ProjectId);

    var landQuestionnaireLink = string.Format(RouteConstants.ProjectLandQuestionnaireTask, Model.ProjectId);
    var landRegistryLink = string.Format(RouteConstants.ProjectLandRegistryTask, Model.ProjectId);
    var supplementalFundingAgreementLink = string.Format(RouteConstants.ProjectSupplementalFundingAgreementTask, Model.ProjectId);
    var churchSupplementalAgreementLink = string.Format(RouteConstants.ProjectChurchSupplementalAgreementTask, Model.ProjectId);
    var masterFundingAgreementLink = string.Format(RouteConstants.ProjectMasterFundingAgreementTask, Model.ProjectId);
    var articlesOfAssociationLink = string.Format(RouteConstants.ProjectArticlesOfAssociationTask, Model.ProjectId);
    var deedOfVariationLink = string.Format(RouteConstants.ProjectDeedOfVariationTask, Model.ProjectId);
    var trustModificationOrderLink = string.Format(RouteConstants.ProjectTrustModificationOrderTask, Model.ProjectId);
    var directionToTransferLink = string.Format(RouteConstants.ProjectDirectionToTransferTask, Model.ProjectId);
    var oneHundredAndTwentyFiveYearLeaseLink = string.Format(RouteConstants.ProjectOneHundredAndTwentyFiveYearLeaseTask, Model.ProjectId);
    var subleasesLink = string.Format(RouteConstants.ProjectSubleasesTask, Model.ProjectId);
    var tenancyAtWillLink = string.Format(RouteConstants.ProjectTenancyAtWillTask, Model.ProjectId);
    var commercialTransferAgreementLink = string.Format(RouteConstants.ProjectCommercialTransferAgreementTask, Model.ProjectId);

    var confirmTheSchoolHasCompletedAllActionsLink = string.Format(RouteConstants.ProjectConfirmTheSchoolHasCompletedAllActionsTask, Model.ProjectId);
    var confirmAllConditionsHaveBeenMetLink = string.Format(RouteConstants.ProjectConfirmAllConditionsHaveBeenMetTask, Model.ProjectId);
    var shareTheInformationAboutOpeningLink = string.Format(RouteConstants.ProjectShareTheInformationAboutOpeningTask, Model.ProjectId);

    var confirmDateAcademyOpenedLink = string.Format(RouteConstants.ProjectConfirmDateAcademyOpenedTask, Model.ProjectId);
    var redactAndSendDocumentsLink = string.Format(RouteConstants.ProjectRedactAndSendTask, Model.ProjectId);
    var receiveDeclarationOfExpenditureCertificateLink = string.Format(RouteConstants.ProjectReceiveDeclarationOfExpenditureCertificateTask, Model.ProjectId);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
        <div class="govuk-grid-column-one-quarter">
            <nav>
                <h2 class="govuk-heading-m">Jump to section</h2>
                <ul class="list-style-none govuk-!-padding-0">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#project_kick_off">Project kick-off</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#legal_documents">Clear and sign legal documents</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#get_ready_for_opening">Get ready for opening</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#after_opening">After opening</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#completing_a_project">Completing a project</a>
                    </li>
                    @if (projectPermissionService.UserCanDaoRevocation(Model.Project, Model.CurrentUserTeam, User)){
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="#revoke_a_directive_academy_order">Revoke a Directive Academy Order</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-grid-row">
                <h2 class="govuk-heading-l">Task list</h2>
            </div>
            <div class="govuk-grid-row">
                <ol class="app-task-list">
                    <li>
                        <h3 class="app-task-list__section" id="project_kick_off">
                            Project kick-off
                        </h3>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="handover-with-delivery-officer-status" class="govuk-link" href="@handoverWithDeliveryOfficerLink">Handover with regional delivery officer</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.HandoverWithRegionalDeliveryOfficer" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="external-stakeholder-kick-off-status" class="govuk-link" href="@externalStakeHolderKickoffLink">External stakeholder kick-off</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ExternalStakeHolderKickoff" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="check-accuracy-of-high-needs-places-information-status" class="govuk-link" href="@confirmAcademyRiskProtectionArrangementsLink">Confirm the academy's risk protection arrangements</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ConfirmAcademyRiskProtectionArrangements" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="check-accuracy-of-high-needs-places-information-status" class="govuk-link" href="@checkAccuracyOfHigherNeedsLink">Check accuracy of high needs places information</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.CheckAccuracyOfHigherNeeds" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="complete-a-notification-of-changes-to-funded-high-needs-places-form-status" class="govuk-link" href="@completeNotificationOfChangeLink">Complete a notification of changes to funded high needs places form</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.CompleteNotificationOfChange" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="process-conversion-grant-status" class="govuk-link" href="@processConversionSupportGrantLink">Process conversion support grant</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ProcessConversionSupportGrant" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-and-process-the-sponsored-support-grant-status" class="govuk-link" href="@confirmAndProcessSponsoredSupportGrantLink">Confirm and process the sponsored support grant</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ConfirmAndProcessSponsoredSupportGrant" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-academy-name-status" class="govuk-link" href="@confirmAcademyNameLink">Confirm the academy name</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ConfirmAcademyName" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-academy-name-status" class="govuk-link" href="@confirmHeadTeacherDetailsLink">Confirm the headteacher's details</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ConfirmHeadTeacherDetails" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="add-chair-of-governors-contact-details-status" class="govuk-link" href="@confirmChairOfGovernorsDetailsLink">Confirm the chair of governors' details</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ConfirmChairOfGovernorsDetails" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-main-contact-status" class="govuk-link" href="@confirmIncomingTrustCeoDetailsLink">Confirm the incoming trust CEO's details</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ConfirmIncomingTrustCeoDetails" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-main-contact-status" class="govuk-link" href="@confirmMainContactLink">Confirm the main contact</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ConfirmMainContact" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-proposed-capacity-of-the-academy-status" class="govuk-link" href="@confirmProposedCapacityOfTheAcademyLink">Confirm the proposed capacity of the academy</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ConfirmProposedCapacityOfTheAcademy" />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="legal_documents">
                            Clear and sign legal documents
                        </h3>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="land-questionnaire-status" class="govuk-link" href="@landQuestionnaireLink">Land questionnaire</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.LandQuestionnaire" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="land-registry-title-plans-status" class="govuk-link" href="@landRegistryLink">Land registry title plans</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.LandRegistry" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="supplemental-funding-agreement-status" class="govuk-link" href="@supplementalFundingAgreementLink">Supplemental funding agreement</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.SupplementalFundingAgreement" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="church-supplemental-agreement-status" class="govuk-link" href="@churchSupplementalAgreementLink">Church supplemental agreement</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ChurchSupplementalAgreement" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="master-funding-agreement-status" class="govuk-link" href="@masterFundingAgreementLink">Master funding agreement</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.MasterFundingAgreement" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="articles-of-association-status" class="govuk-link" href="@articlesOfAssociationLink">Articles of association</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ArticlesOfAssociation" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="deed-of-variation-status" class="govuk-link" href="@deedOfVariationLink">Deed of variation</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.DeedOfVariation" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="trust-modification-order-status" class="govuk-link" href="@trustModificationOrderLink">Trust modification order</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.TrustModificationOrder" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="direction-to-transfer-status" class="govuk-link" href="@directionToTransferLink">Direction to transfer</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.DirectionToTransfer" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="125-year-lease-status" class="govuk-link" href="@oneHundredAndTwentyFiveYearLeaseLink">125 year lease</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.OneHundredAndTwentyFiveYearLease" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="subleases-status" class="govuk-link" href="@subleasesLink">Subleases</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.Tubleases" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="tenancy-at-will-status" class="govuk-link" href="@tenancyAtWillLink">Tenancy at will</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.TenancyAtWill" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="commercial-transfer-agreement-status" class="govuk-link" href="@commercialTransferAgreementLink">Commercial transfer agreement</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.CommercialTransferAgreement" />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="get_ready_for_opening">
                            Get ready for opening
                        </h3>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-academy-s-risk-protection-arrangements-status" class="govuk-link" href="@confirmTheSchoolHasCompletedAllActionsLink">Confirm the school has completed all actions</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ConfirmTheSchoolHasCompletedAllActions" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="complete-and-send-single-worksheet-status" class="govuk-link" href="@confirmAllConditionsHaveBeenMetLink">Confirm all conditions have been met</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ConfirmAllConditionsHaveBeenMet" />
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="share-the-grant-certificate-and-information-about-opening-status" class="govuk-link" href="@shareTheInformationAboutOpeningLink">Share the information about opening</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ShareTheInformationAboutOpening" />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="after_opening">
                            After opening
                        </h3>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-date-the-academy-opened-status" class="govuk-link" href="@confirmDateAcademyOpenedLink">Confirm the date the academy opened</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ConfirmDateAcademyOpened" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="redact-and-send-documents-status" class="govuk-link" href="@redactAndSendDocumentsLink">Redact and send documents</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.RedactAndSendDocuments" />
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="receive-grant-payment-certificate-status" class="govuk-link" href="@receiveDeclarationOfExpenditureCertificateLink">Receive declaration of expenditure certificate</a>
                                </span>
                                <partial name="Shared/_TaskListStatus" model="@Model.ConversionTaskList.ProjectReceiveDeclarationOfExpenditureCertificate" />
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
            <partial name="Projects/TaskList/_CompleteProject" model="Model" />
            @if(Model.Project.DirectiveAcademyOrder == true && Model.Project.State != ProjectState.DaoRevoked)
            {
                <div class="govuk-grid-row" id="revoke_a_directive_academy_order">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="govuk-heading-m">
                                Revoke a Directive Academy Order
                            </h2>
                            <p class="govuk-body">You can record the decision to revoke a DAO (Directive Academy Order).</p>
                            <p class="govuk-body">The decision must have been approved by a minister.</p>
                            <div class="govuk-button-group">
                                <a class="govuk-button govuk-button--secondary" href="@string.Format(RouteConstants.ProjectDaoRevocation, Model.ProjectId)">Record DAO revocation</a>
                            </div>
                        </div>
                    </div>
                </div>
            } 
        </div>
    </div>
</div>