@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.TaskList.TaskListModel
@{
    var handoverWithDeliveryOfficerLink = string.Format(RouteConstants.ProjectHandoverWithDeliveryOfficerTask, Model.ProjectId);
    var externalStakeHolderKickoff = string.Format(RouteConstants.ProjectStakeholderKickoffTask, Model.ProjectId);
    var confirmAcademyRiskProtectionArrangementsLink = string.Format(RouteConstants.ProjectRiskProtectionArrangementTask, Model.ProjectId);  
    var confirmHeadTeacherDetailsTask = string.Format(RouteConstants.ProjectConfirmHeadTeacherDetailsTask, Model.ProjectId);
    var confirmIncomingTrustCeoDetailsTask = string.Format(RouteConstants.ProjectConfirmIncomingTrustCeoDetailsTask, Model.ProjectId);
    var confirmOutgoingTrustCeoDetailsTask = string.Format(RouteConstants.ProjectConfirmOutingTrustCeoDetailsTask, Model.ProjectId);
    var confirmMainContactTask = string.Format(RouteConstants.ProjectConfirmMainContactTask, Model.ProjectId);
    var requestNewURNAndRecordForTheAcademyTask = string.Format(RouteConstants.ProjectRequestNewURNAndRecordForTheAcademyTask, Model.ProjectId);
    var confirmTransferGrantFundingLevelTask = string.Format(RouteConstants.ProjectConfirmAndProcessSponsoredSupportGrantTask, Model.ProjectId);
    var checkAndConfirmAcademyAndTrustFinancialInfoTask = string.Format(RouteConstants.ProjectCheckAndConfirmAcademyAndTrustFinancialInfoTask, Model.ProjectId);
    var aboutTransferProject = string.Format(RouteConstants.ProjectAbout, Model.ProjectId);

    var formMTask = string.Format(RouteConstants.ProjectFormMTask, Model.ProjectId);
    var landConsentLetterTask = string.Format(RouteConstants.ProjectLandConsentLetterTask, Model.ProjectId);
    var supplementalFundingAgreementTask = string.Format(RouteConstants.ProjectSupplementalFundingAgreementTask, Model.ProjectId);
    var deedOfNovationAndVariationTask = string.Format(RouteConstants.ProjectDeedOfNovationAndVariationTask, Model.ProjectId);
    var churchSupplementalAgreementTask = string.Format(RouteConstants.ProjectChurchSupplementalAgreementTask, Model.ProjectId);
    var masterFundingAgreementTask = string.Format(RouteConstants.ProjectMasterFundingAgreementTask, Model.ProjectId);
    var articlesOfAssociationTask = string.Format(RouteConstants.ProjectArticlesOfAssociationTask, Model.ProjectId);
    var deedoOfVariationTask = string.Format(RouteConstants.ProjectDeedOfVariationTask, Model.ProjectId);
    var deedOfTerminationForTheMasterFundingAgreementTask = string.Format(RouteConstants.ProjectDeedOfTerminationForTheMasterFundingAgreementTask, Model.ProjectId);
    var deedOfTerminationForChurchSupplementalAreementTask = string.Format(RouteConstants.ProjectDeedOfTerminationForChurchSupplementalAreementTask, Model.ProjectId);
    var commercialTransferAgreementTask = string.Format(RouteConstants.ProjectCommercialTransferAgreementTask, Model.ProjectId);
    var closureOrTransferDeclarationTask = string.Format(RouteConstants.ProjectClosureOrTransferDeclarationTask, Model.ProjectId);

    var confirmBankDetailsChangingForGeneralAnnualGrantPaymentTask = string.Format(RouteConstants.ProjectConfirmBankDetailsChangingForGeneralAnnualGrantPaymentTask, Model.ProjectId);
    var confirmIncomingTrustHasCompletedAllActionsTask = string.Format(RouteConstants.ProjectConfirmIncomingTrustHasCompletedAllActionsTask, Model.ProjectId);
    var confirmThisTransferHasAuthorityToProceedTask = string.Format(RouteConstants.ProjectConfirmAllConditionsHaveBeenMetTask, Model.ProjectId);
    
    var confirmDateAcademyTransferredTask = string.Format(RouteConstants.ProjectConfirmDateAcademyTransferredTask, Model.ProjectId);
    var redactAndSendDocumentsTask = string.Format(RouteConstants.ProjectRedactAndSendDocumentsTask, Model.ProjectId);
    var declarationOfExpenditureCertificateTask = string.Format(RouteConstants.ProjectDeclarationOfExpenditureCertificateTask, Model.ProjectId);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
        <div class="govuk-grid-column-one-quarter">
            <nav>
                <h2 class="govuk-heading-m">Jump to section</h2>
                <ul class="list-style-none govuk-!-padding-0">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#project_kick_off">Project kick-off</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#legal_documents">Clear and sign legal documents</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#get_ready_for_opening">Get ready to transfer</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#after_transfer">After transfer</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#completing_a_project">Completing a project</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-grid-row">
                <h2 class="govuk-heading-l">Task list</h2>
            </div>
            <div class="govuk-grid-row">
                <ol class="app-task-list">
                    <li>
                        <h3 class="app-task-list__section" id="project_kick_off">
                            Project kick-off
                        </h3> 
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="handover-with-delivery-officer-status" class="govuk-link" href="@handoverWithDeliveryOfficerLink">Handover with regional delivery officer</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--orange app-task-list__tag" id="handover-with-delivery-officer-status">In progress</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="external-stakeholder-kick-off-status" class="govuk-link" href="@externalStakeHolderKickoff">External stakeholder kick-off</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--orange app-task-list__tag" id="external-stakeholder-kick-off-status">In progress</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="check-accuracy-of-high-needs-places-information-status" class="govuk-link" href="@confirmAcademyRiskProtectionArrangementsLink">Confirm the academy's risk protection arrangements</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="check-accuracy-of-high-needs-places-information-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-academy-name-status" class="govuk-link" href="@confirmHeadTeacherDetailsTask">Confirm the headteacher's details</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--turquoise app-task-list__tag" id="confirm-the-academy-name-status">Completed</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-main-contact-status" class="govuk-link" href="@confirmIncomingTrustCeoDetailsTask">Confirm the incoming trust CEO's details</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="confirm-the-main-contact-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-main-contact-status" class="govuk-link" href="@confirmOutgoingTrustCeoDetailsTask">Confirm the outgoing trust CEO's details</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="confirm-the-main-contact-status">Not started</strong>
                            </li> 
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-main-contact-status" class="govuk-link" href="@confirmMainContactTask">Confirm the main contact</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="confirm-the-main-contact-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="check-accuracy-of-high-needs-places-information-status" class="govuk-link" href="@requestNewURNAndRecordForTheAcademyTask">Request a new URN and record for the academy</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="check-accuracy-of-high-needs-places-information-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="complete-a-notification-of-changes-to-funded-high-needs-places-form-status" class="govuk-link" href="@confirmTransferGrantFundingLevelTask">Confirm transfer grant funding level</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="complete-a-notification-of-changes-to-funded-high-needs-places-form-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="process-conversion-grant-status" class="govuk-link" href="@checkAndConfirmAcademyAndTrustFinancialInfoTask">Check and confirm academy and trust financial information</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="process-conversion-grant-status">Not started</strong>
                            </li> 
                        </ul> 
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="legal_documents">
                            Clear and sign legal documents
                        </h3>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="form-m-status" class="govuk-link" href="@formMTask">Form M</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="form-m-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="land-consent-letter-status" class="govuk-link" href="@landConsentLetterTask">Land consent letter</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="land-consent-letter-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="supplemental-funding-agreement-status" class="govuk-link" href="@supplementalFundingAgreementTask">Supplemental funding agreement</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="supplemental-funding-agreement-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="deed-of-novation-and-variation-status" class="govuk-link" href="@deedOfNovationAndVariationTask">Deed of novation and variation</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="deed-of-novation-and-variation-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="church-supplemental-agreement-status" class="govuk-link" href="@churchSupplementalAgreementTask">Church supplemental agreement</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="church-supplemental-agreement-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="master-funding-agreement-status" class="govuk-link" href="@masterFundingAgreementTask">Master funding agreement</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="master-funding-agreement-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="articles-of-association-status" class="govuk-link" href=@articlesOfAssociationTask">Articles of association</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="articles-of-association-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="deed-of-variation-status" class="govuk-link" href="@deedoOfVariationTask">Deed of variation</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="deed-of-variation-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="deed-of-termination-for-the-master-funding-agreement-status" class="govuk-link" href="@deedOfTerminationForTheMasterFundingAgreementTask">Deed of termination for the master funding agreement</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="deed-of-termination-for-the-master-funding-agreement-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="deed-of-termination-for-the-church-supplemental-agreement-status" class="govuk-link" href="@deedOfTerminationForChurchSupplementalAreementTask">Deed of termination for the church supplemental agreement</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="deed-of-termination-for-the-church-supplemental-agreement-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="commercial-transfer-agreement-status" class="govuk-link" href="@commercialTransferAgreementTask">Commercial transfer agreement</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="commercial-transfer-agreement-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="closure-or-transfer-declaration-status" class="govuk-link" href="@closureOrTransferDeclarationTask">Closure or transfer declaration</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="closure-or-transfer-declaration-status">Not started</strong>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="get_ready_for_opening">
                            Get ready to transfer
                        </h3>
                        <ul class="app-task-list__items"> 
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-if-the-bank-details-for-the-general-annual-grant-payment-need-to-change-status" class="govuk-link" href="@confirmBankDetailsChangingForGeneralAnnualGrantPaymentTask">Confirm if the bank details for the general annual grant payment need to change</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="confirm-if-the-bank-details-for-the-general-annual-grant-payment-need-to-change-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-incoming-trust-has-completed-all-actions-status" class="govuk-link" href="@confirmIncomingTrustHasCompletedAllActionsTask">Confirm the incoming trust has completed all actions</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="confirm-the-incoming-trust-has-completed-all-actions-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-all-conditions-have-been-met-status" class="govuk-link" href="@confirmThisTransferHasAuthorityToProceedTask">Confirm this transfer has authority to proceed</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="confirm-all-conditions-have-been-met-status">Not started</strong>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="after_transfer">
                            After transfer
                        </h3>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="confirm-the-date-the-academy-transferred-status" class="govuk-link" href="@confirmDateAcademyTransferredTask">Confirm the date the academy transferred</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="confirm-the-date-the-academy-transferred-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="redact-and-send-documents-status" class="govuk-link" href="@redactAndSendDocumentsTask">Redact and send documents</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="redact-and-send-documents-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a aria-describedby="receive-declaration-of-expenditure-certificate-status" class="govuk-link" href="@declarationOfExpenditureCertificateTask">Receive declaration of expenditure certificate</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="receive-declaration-of-expenditure-certificate-status">Not started</strong>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="govuk-grid-row" id="completing_a_project">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds"> 
                        <form action="@string.Format(RouteConstants.ProjectComplete, Model.ProjectId)" accept-charset="UTF-8" method="post"> 
                            <h3 class="govuk-heading-m">Completing a project</h3>
                            <p class="govuk-body"></p><p>You should only complete the project when you have finished every task and marked any that are not needed as not applicable.</p>
                            <p class="govuk-body">You will not be able to change this project once it is completed.</p>

                            <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Complete project</button>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
