@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@* GOV.UK Footer (rebrand) *@
<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
    <img
      src="~/assets/images/govuk-crest.svg"
      alt="Crown"
      class="govuk-footer__crown"
      height="30"
      width="32" />
    <div class="govuk-footer__navigation">
      <div class="govuk-footer__section govuk-grid-column-two-thirds">
        <h2 class="govuk-footer__heading govuk-heading-m">Get help</h2>
        <ul class="govuk-footer__list govuk-footer__list">
          <li class="govuk-footer__list-item">
            <external-link class="govuk-footer__link" href="@Configuration["GetHelpLink"]">
              Get help with a Regions Group system
            </external-link>
          </li>
          <li class="govuk-footer__list-item">
            <external-link class="govuk-footer__link" href="@Configuration["HowToUseLink"]">
              How to use this system
            </external-link>
          </li>
        </ul>
      </div>
      <div class="govuk-footer__section govuk-grid-column-one-third">
        <h2 class="govuk-footer__heading govuk-heading-m">Give feedback</h2>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item">
            <external-link class="govuk-footer__link" href="@Configuration["FeedbackLink"]">Give feedback about a Regions Group system</external-link>
          </li>
          <li class="govuk-footer__list-item">
            <external-link class="govuk-footer__link" href="@Configuration["ChangeLink"]">Suggest a change to a Regions Group system</external-link>
          </li>

        </ul>
      </div>
    </div>
    <hr class="govuk-footer__section-break">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" asp-page="@Links.Public.Accessibility.Page">
              Accessibility statement
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" asp-page="@Links.Public.CookiePreferences.Page"
               asp-route-returnUrl="@Context.Request.Path">
              Cookies
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/privacy"
               data-test="privacy-notice">
              Privacy notice
            </a>
          </li>
        </ul>
        <img
          src="~/assets/images/open-government-licence.svg"
          alt="Open Government Licence logo"
          class="govuk-footer__licence-logo"
          height="17"
          width="41" />
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license">Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
          © Crown copyright
        </a>
      </div>
    </div>
  </div>
</footer>