@using Dfe.Complete.Constants
@using Dfe.Complete.Domain.Constants;

@model TabNavigationModel?

@{
    const string currentTabStyling = "govuk-service-navigation__item--active";
    string IsCurrentTab(string tabName) => Model?.CurrentTab == tabName ? currentTabStyling : "";
}

@functions {
    public string GetSearchPlaceholder()
    {
        var query = string.IsNullOrWhiteSpace(Context.Request.Query["query"]) ||
        Context.Request.Query["query"].ToString().Length < 4 ? "Search projects" : Context.Request.Query["query"].ToString();
        return query;
    }
}

<header class="govuk-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
            <img src="/assets/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
        </a>
        </div>
        <div class="govuk-header__search" asp-policy="@UserPolicyConstants.HasGlobalNavigation">
            <form class="govuk-header__search-form" asp-page="/Search/SearchProjects" method="get" role="search">
                <div class="govuk-header__search-wrapper">
                    <input class="govuk-header__search-input" id="search" name="query" type="search" placeholder="@GetSearchPlaceholder()" aria-label="Search projects">
                    <button class="govuk-header__search-button" type="submit" aria-label="Search">
                        <svg class="govuk-header__search-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="9" cy="9" r="8" stroke="currentColor" stroke-width="2"/>
                            <path d="m21 21-4.35-4.35" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
</header>
<section aria-label="Service information" class="govuk-service-navigation"
data-module="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
        <span class="govuk-service-navigation__service-name">
            <a href="/" class="govuk-service-navigation__link">
                Complete conversions, transfers and changes
            </a>
        </span>
        <nav aria-label="Menu" class="govuk-service-navigation__wrapper" asp-policy="@UserPolicyConstants.HasGlobalNavigation">
            <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
            Menu
            </button>
            <ul class="govuk-service-navigation__list" id="navigation">
                <li class="govuk-service-navigation__item @IsCurrentTab(TabNavigationModel.YourProjectsTabName)" asp-policy="@UserPolicyConstants.CanViewYourProjects">
                    <a class="govuk-service-navigation__link" href="@RouteConstants.YourProjectsInProgress" aria-current="@(Model?.CurrentTab == TabNavigationModel.YourProjectsTabName ? "true" : "false")">
                        <strong class="govuk-service-navigation__active-fallback">Your projects</strong>
                    </a>
                </li>
                <li class="govuk-service-navigation__item @IsCurrentTab(TabNavigationModel.YourTeamProjectsTabName)" asp-policy="@UserPolicyConstants.CanViewTeamProjects">
                    <a class="govuk-service-navigation__link" href="@RouteConstants.TeamProjectsInProgress">
                        Your team projects
                    </a>
                </li>
                <li class="govuk-service-navigation__item @IsCurrentTab(TabNavigationModel.AllProjectsTabName)">
                    <a class="govuk-service-navigation__link" href="@RouteConstants.ProjectsInProgress">
                        All projects
                    </a>
                </li>
                <li class="govuk-service-navigation__item @IsCurrentTab(TabNavigationModel.GroupsTabName)" asp-policy="@UserPolicyConstants.CanViewGroups">
                    <a class="govuk-service-navigation__link" href="@RouteConstants.Groups">
                        Groups
                    </a>
                </li>
                <li class="govuk-service-navigation__item @IsCurrentTab(TabNavigationModel.ServiceSupportProjectsTabName)" asp-policy="@UserPolicyConstants.CanViewServiceSupport">
                    <a class="govuk-service-navigation__link" href="@RouteConstants.ServiceSupportProjectsWithoutAcademyUrn">
                        Service support
                    </a>
                </li>
            </ul>
        </nav>
        </div>
    </div>
</section>