@using System.Text.Json
@model TaskListItemViewModel

@{
    string output;
    string colour;
    string id = JsonNamingPolicy.KebabCaseLower.ConvertName(Model.Name);

    switch (Model.Status)
    {
        case TaskListStatus.Completed:
            output = "Completed";
            colour = "turquoise";
            break;
        case TaskListStatus.InProgress:
            output = "In progress";
            colour = "orange";
            break;
        case TaskListStatus.NotApplicable:
            output = "Not applicable";
            colour = "grey";
            break;
        default:
            output = "Not started";
            colour = "blue";
            break;
    }
}

<li class="app-task-list__item"> @* //NOSONAR: rendered inside a <ul> in the parent view *@
    <span class="app-task-list__task-name">
        <a aria-describedby="@id" class="govuk-link" href="@Model.Link">@Model.Name</a>
    </span>
    <strong class="govuk-tag govuk-tag--@colour app-task-list__tag" id="@id">@output</strong>
</li>
