@using Dfe.Complete.TagHelpers
@using Dfe.Complete.Utils
@model Dfe.Complete.Pages.Projects.AboutTheProject.AboutTheProjectModel
@* var editLink = string.Format(RouteConstants.ProjectEditAbout, Model.ProjectId); *@

@*TODO: add below back with model*@
@* <partial name="_ProjectSummary" model="" /> *@

<govuk-project-tabs project-id="@Model.ProjectId" project-type="" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <nav>
            <h2 class="govuk-heading-m">Jump to section</h2>
            <ul class="list-style-none govuk-!-padding-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#projectDetails">Project details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#projectAssignment">Project assignment</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#reasonsForConversion">Reasons for the conversion</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#advisoryBoardDetails">Advisory board details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#schoolDetails">School details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#academyDetails">Academy details</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#incomingTrustDetails">Incoming trust details</a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-three-quarters" id="projectInformationList">
        <h2 class="govuk-heading-l">About the project</h2>

        @await Html.PartialAsync("Common/_ProjectDetails", Model)

        @await Html.PartialAsync("Common/_ProjectAssignment", Model)

        <section id="reasonsForConversion" class="app-summary-card govuk-!-margin-bottom-6">
            <header class="app-summary-card__header">
                <h2 class="app-summary-card__title">
                    Reasons for the conversion
                </h2>
            </header>
            <div class="app-summary-card__body">
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Has a directive academy order been issued?</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(Model.Project.DirectiveAcademyOrder != null && Model.Project.DirectiveAcademyOrder.Value ? "Yes" : "No")
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="#" visually-hidden-text="Has a directive academy order been issued?">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Is this conversion due to intervention following 2RI?</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(Model.Project.TwoRequiresImprovement != null && Model.Project.TwoRequiresImprovement.Value ? "Yes" : "No")
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="#" visually-hidden-text="Is this conversion due to intervention following 2RI?">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </div>
        </section>

        @await Html.PartialAsync("Common/_AdvisoryBoardDetails", Model)

        <section id="schoolDetails" class="app-summary-card govuk-!-margin-bottom-6">
            <header class="app-summary-card__header">
                <h2 class="app-summary-card__title">
                    School details
                </h2>
            </header>
            <div class="app-summary-card__body">
                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.Establishment.Name<br />
                            <a class="govuk-link" href="https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/@Model.Establishment.Urn" target="_blank">View the school's information in GIAS (opens in new tab)</a>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>URN (unique reference number)</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.Establishment.Urn
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Type</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.Establishment.EstablishmentType?.Name
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Range</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.Establishment.StatutoryLowAge to @Model.Establishment.StatutoryHighAge
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Phase</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @(Model.Establishment?.PhaseOfEducation?.Name ?? "Not applicable")
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>Address</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @if (!string.IsNullOrWhiteSpace(@Model.Establishment?.Address?.Street))
                            {
                                @Model.Establishment?.Address?.Street <br />
                            }
                            @if (!string.IsNullOrWhiteSpace(@Model.Establishment?.Address?.Town))
                            {
                                @Model.Establishment?.Address?.Town <br />
                            }
                            @if (!string.IsNullOrWhiteSpace(@Model.Establishment?.Address?.County))
                            {
                                @Model.Establishment?.Address?.County <br />
                            }
                            @if (!string.IsNullOrWhiteSpace(@Model.Establishment?.Address?.Postcode))
                            {
                                @Model.Establishment?.Address?.Postcode
                            }
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>SharePoint folder</govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <a class="govuk-link" href="@Model.Project.EstablishmentSharepointLink" target="_blank">View the school SharePoint folder (opens in new tab)</a>
                        </govuk-summary-list-row-value>
                        <govuk-summary-list-row-actions>
                            <govuk-summary-list-row-action href="#" visually-hidden-text="School sharePoint folder">Change</govuk-summary-list-row-action>
                        </govuk-summary-list-row-actions>
                    </govuk-summary-list-row>
                </govuk-summary-list>
            </div>
        </section>

        <section id="academyDetails" class="app-summary-card govuk-!-margin-bottom-6">
            <header class="app-summary-card__header">
                <h2 class="app-summary-card__title">
                    Academy details
                </h2>
            </header>
            @if (Model.Academy != null)
            {
                <div class="app-summary-card__body">
                    <govuk-summary-list>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Name</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.Academy.Name<br />
                                <a class="govuk-link" href="https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/@Model.Academy.Urn" target="_blank">View the school's information in GIAS (opens in new tab)</a>
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Academy URN (unique reference number)</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.Academy.Urn?.Value.ToString()
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>LAESTAB (DfE number)</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.Academy.LocalAuthorityCode/@Model.Academy.EstablishmentNumber
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Type</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.Academy.TypeName
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Age range</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @Model.Academy.AgeRangeLower to @Model.Academy.AgeRangeUpper
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>Phase</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                @(Model.Academy?.PhaseName ?? "Not applicable")
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>SharePoint folder</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <a class="govuk-link" href="@Model.Project.EstablishmentSharepointLink" target="_blank">View the academy SharePoint folder (opens in new tab)</a>
                            </govuk-summary-list-row-value>
                            <govuk-summary-list-row-actions>
                                <govuk-summary-list-row-action href="#" visually-hidden-text="Academy sharePoint folder">Change</govuk-summary-list-row-action>
                            </govuk-summary-list-row-actions>
                        </govuk-summary-list-row>
                    </govuk-summary-list>
                </div>
            }
            else
            {
                <div class="app-summary-card__body" style="border-left: 4px solid #b1b4b6;">
                    <govuk-inset-text>
                        @(Model.Project.AcademyUrn?.Value.ToString() ?? "Academy URN has not been provided")
                    </govuk-inset-text>
                </div>
            }
        </section>

        @await Html.PartialAsync("Common/_IncomingTrustDetails", Model)
    </div>
</div>