@using Dfe.Complete.Utils
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmSponsoredSupportGrantTask.ConfirmTransferGrantFundingLevelTaskModel

<div class="guidance">
    <details data-module="govuk-details" class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Grant amounts, eligibility and guidance</span>
    </summary>
    <div class="govuk-details__text">
        <p>Each eligible transfer will get £25,000 as a standard level of funding.</p>
        <p>This is adjusted if the academy transferring has a budget surplus. The incoming trust must use bugdet surplus to pay for transfer costs before using transfer grant funding.</p>
        <p>In some circumstances, they might be entitled to a larger grant. There are 3 levels of funding money that can be added to the transfer grant:</p>
        <ul>
            <li>fast track</li>
            <li>intermediate</li>
            <li>full sponsored</li>
        </ul>
        <p>The following amounts all include the £25,000 basic level of transfer grant funding.</p>
        <p>Fast track grant amounts are:</p>
        <ul>
            <li>£70,000 for primary and special academies</li>
            <li>£80,000 for secondary and all through academies</li>
        </ul>
        <p>Intermediate grant amounts are:</p>
        <ul>
            <li>£90,000 for primary and special academies</li>
            <li>£115,000 for secondary and all-through academies</li>
        </ul>
        <p>Full sponsored grant amounts are:</p>
        <ul>
            <li>£110,000 for primary and special academies</li>
            <li>£150,000 secondary and all-through academies</li>
        </ul>
        <p>Any funding up to £100,000 must be approved by the director of the National Directorate.</p>
        <p>Any funding of £100,000 or more must be approved by the Director General for Regions Group.</p>
        <p>You can <external-link class="govuk-link" href="@_configuration["ExternalLinks:TransferGrantFundingGuidance"]">read the transfer grant funding guidance Word document (opens in new tab)</external-link> for more in-depth advice and support.</p>
    </div>
</details>
</div>

<form method="post">
    <input type="hidden" asp-for="TasksDataId" />
    <input type="hidden" asp-for="Type" />

    <govuk-checkboxes name="options">
        <govuk-checkboxes-fieldset>
            <govuk-checkboxes-fieldset-legend>
            </govuk-checkboxes-fieldset-legend>
            <govuk-checkboxes-item id="not-applicable" asp-for="@Model.NotApplicable" value="true" name="@nameof(Model.NotApplicable)" data-cy="@nameof(Model.NotApplicable)" checked="@Model.NotApplicable">
                <b>Not applicable</b>
            </govuk-checkboxes-item>
        </govuk-checkboxes-fieldset>
    </govuk-checkboxes>

    <govuk-radios name="sponsored_support_grant_type" asp-for="@Model.SponsoredSupportGrantType">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--m">
                What level of transfer grant funding is required?
            </govuk-radios-fieldset-legend>
            <govuk-radios-hint>
                <p>Confirm if the incoming trust will receive the standard transfer grant funding amount, or a higher level of fast track, intermediate or full sponsored grant.</p>
                <p>This can be changed later on if the trust finds they need more money.</p>
                <govuk-details data-module="govuk-details" class="govuk-details">
                    <govuk-details-summary>
                        <span class="govuk-details__summary-text">Changing the grant amount if the trust needs more funding later</span>
                    </govuk-details-summary>
                    <govuk-details-text>
                        <p>Trusts can discover new information that means they might need more funding than they first thought they would.</p>
                        <p>When this happens, speak to your regional director. They will need to approve the new grant amount. You may need to write a business case for the additional funding.</p>
                        <p>When the new funding is agreed and approved, the trust will need to complete a new grant claim form and send it to the grants team.</p>
                        <p>You can then come back to this task and update the grant type information.</p>
                    </govuk-details-text>
                </govuk-details>
            </govuk-radios-hint>
            @{
                foreach (var type in Model.SponsoredSupportGrantTypes)
                {
                    <govuk-radios-item data-cy="grant_type_@type.ToDescription()" value="@type.ToDescription()">@type.ToDisplayDescription()</govuk-radios-item>
                }
            }
        </govuk-radios-fieldset>
    </govuk-radios>

    @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
</form>