@page "/projects/{projectId}/tasks/school_completed"
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@using Dfe.Complete.TagHelpers
@using Dfe.Complete.Utils
@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmSchoolHasCompletedAllActions.ConfirmSchoolHasCompletedAllActionsModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = @Model.TaskIdentifier.ToDisplayDescription();
}
@section TaskHeaderHintSection {
    <div class="govuk-hint">
        <p>Contact the main contact to check the school has completed all its tasks. The template email is in the 
            <external-link href="@_configuration["ExternalLinks:ApprovalToOpeningGuidance"]" class="govuk-link">
                Academy Conversion Guidance
            </external-link>.
        </p>
    </div>
}
@section TaskSection {

    <form method="post">
        <input type="hidden" asp-for="TasksDataId"/>

        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                    <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--m">
                        Confirm school has completed all actions
                    </govuk-checkboxes-fieldset-legend>
                    <govuk-checkboxes-hint>
                        <p class="govuk-!-margin-top-0">Select all that may apply</p>
                    </govuk-checkboxes-hint>
                </govuk-checkboxes-fieldset-legend>
    

                <govuk-checkboxes-item id="@(nameof(Model.Emailed))" data-cy="@(nameof(Model.Emailed))" asp-for="@Model.Emailed" value="true" name="@(nameof(Model.Emailed))" checked="@Model.Emailed">
                    <b>Send the final email checklist to the main contact</b>
                </govuk-checkboxes-item>

                <govuk-checkboxes-item id="@(nameof(Model.Saved))" data-cy="@(nameof(Model.Saved))" asp-for="@Model.Saved" value="true" name="@(nameof(Model.Saved))" checked="@Model.Saved">
                    <b>Save response in school’s Sharepoint folder</b>
                    <govuk-checkboxes-hint>
                        
                        <govuk-details>
                            <govuk-details-summary>
                                <span class="govuk-details__summary-text">What to do if the school has not completed the tasks</span>
                            </govuk-details-summary>
                            <govuk-details-text>
                                <p class="govuk-body-m">Depending on the scale of the outstanding tasks, you may need to move the conversion date to the next month or later.</p>
                                <p class="govuk-body-m">If the conversion date needs to be moved, you must:</p>
                                <ol class="govuk-list govuk-list--bullet">
                                    <li>Inform the school of the outstanding tasks</li>
                                    <li>Agree a new conversion date with all stakeholders</li>
                                    <li>Email the Academies Operational Practice Unit at 
                                        <a href="mailto:@_configuration["Emails:AcademyDeliveryOperations"]" data-cy="academies-operational-practice-unit-email-link" class="govuk-link" target="_blank">
                                            @_configuration["Emails:AcademiesOperationalPracticeUnit"]
                                        </a> 
                                        if project has slipped
                                    </li>
                                    <li>Update Complete with new conversion date</li>
                                </ol>
                            </govuk-details-text>
                        </govuk-details>
                    </govuk-checkboxes-hint>
                </govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}
