@page "/projects/{projectId}/tasks/school_completed"
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@using Dfe.Complete.TagHelpers
@using Dfe.Complete.Utils
@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmSchoolHasCompletedAllActions.ConfirmSchoolHasCompletedAllActionsModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = @Model.TaskIdentifier.ToDisplayDescription();
}
@section TaskHeaderHintSection {
    <div class="govuk-hint">
        <p>Contact the school or trust to check the school have completed all their tasks. Save their responses in the school's SharePoint folder.</p>
    </div>
}
@section TaskSection {

    <form method="post">
        <input type="hidden" asp-for="TasksDataId"/>

        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
    

                <govuk-checkboxes-item id="@(nameof(Model.Emailed))" data-cy="@(nameof(Model.Emailed))" asp-for="@Model.Emailed" value="true" name="@(nameof(Model.Emailed))" checked="@Model.Emailed">
                    <b>Email the main contact for the conversion</b>
                    <govuk-checkboxes-hint>
                        <govuk-details>
                            <govuk-details-summary>
                                <span class="govuk-details__summary-text">How to structure your email</span>
                            </govuk-details-summary>
                            <govuk-details-text>
                                <p>You should ask them to check and confirm they've completed all tasks.</p>
                                <p>You can <external-link data-cy="main-contact-for-conversion-email-template-link" href="@_configuration["ExternalLinks:MainContactForConversionEmailTemplate"]" class="govuk-link">use the email template</external-link> on pages 19 and 20 in your desk instructions to help structure your email.</p>
                            </govuk-details-text>
                        </govuk-details>
                    </govuk-checkboxes-hint>
                </govuk-checkboxes-item>

                <govuk-checkboxes-item id="@(nameof(Model.Saved))" data-cy="@(nameof(Model.Saved))" asp-for="@Model.Saved" value="true" name="@(nameof(Model.Saved))" checked="@Model.Saved">
                    <b>Save the responses to the checklist in the school's SharePoint folder</b>
                    <govuk-checkboxes-hint>

                        <govuk-details>
                            <govuk-details-summary>
                                <span class="govuk-details__summary-text">What to do if the school has not completed the tasks</span>
                            </govuk-details-summary>
                            <govuk-details-text>
                                <p class="govuk-body-m">Depending on the scale of the outstanding tasks, you may need to move the conversion date to the next month or later.</p>
                                <p class="govuk-body-m">If the conversion date needs to be moved, you must:</p>
                                <ol class="govuk-list govuk-list--number">
                                    <li>inform the school of the outstanding tasks</li>
                                    <li>agree a new conversion date with all stakeholders</li>
                                    <li>email the Academies Operational Practice Unit at <a href="mailto:@_configuration["Emails:AcademiesOperationalPracticeUnit"]" data-cy="academies-operational-practice-unit-email-link" class="govuk-link" target="_blank">@_configuration["Emails:AcademiesOperationalPracticeUnit"]</a> with the new date</li>
                                    <li>change the date in the External stakeholder kick-off task</li>
                                    <li>inform the regional delivery officer who started on this project</li>
                                </ol>
                            </govuk-details-text>
                        </govuk-details>
                    </govuk-checkboxes-hint>
                </govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}
