@page "/projects/{projectId}/external-contacts/new"
@using Dfe.Complete.Domain.Enums
@using Dfe.Complete.Utils;
@using Microsoft.AspNetCore.Components.Forms
@model Dfe.Complete.Pages.Projects.ExternalContacts.New.NewExternalContact

@{
  ViewData["Title"] = "Add contact";
  Layout = "Shared/_Layout";  
  const string contactType = nameof(Model.SelectedExternalContactType);
}

<div class="govuk-width-container">
  <nav aria-label="back link">
    <a class="govuk-back-link" href="/projects/@Model.ProjectId/external-contacts">Back</a>
  </nav>
  <main class="govuk-main-wrapper app-content" id="main-content" role="main">
    <span class="govuk-caption-l">Add a contact</span>
    <div class="govuk-grid-row govuk-body">
      <div class="govuk-grid-column-full">
          <form method="post">
              <govuk-radios name="@contactType" id="@contactType">
                <govuk-radios-fieldset>
                  <govuk-radios-fieldset-legend is-page-heading="true"><h1 class="govuk-heading-xl">Who do you want to add as a contact?</h1></govuk-radios-fieldset-legend>
                  <govuk-radios-hint>
                    <p>The person's job title may be different to the options in this list. Choose the role that is most similar.</p>
                    <p>For example, if the person's job title is principal or head teacher choose headteacher.</p>
                  </govuk-radios-hint>
                  @foreach (var externalContactType in Model.ContactTypeRadioOptions)
                  {
                      var description = externalContactType.ToDescription();
                      var selected = Model.SelectedExternalContactType == description;
                     <govuk-radios-item value="@description" checked="@selected">@externalContactType.ToDisplayDescription()</govuk-radios-item>
                  }                                              
                </govuk-radios-fieldset>
              </govuk-radios>
          <div class="govuk-button-group">
            <govuk-button type="submit">Save and Continue</govuk-button>
            <a class="govuk-link" href="/projects/@Model.ProjectId/external-contacts">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>