@page "/projects/transfers/{projectId}/edit"
@using Dfe.Complete.Constants
@using Dfe.Complete.Domain.Constants
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@model Dfe.Complete.Pages.Projects.ProjectDetails.Transfer.TransferProjectDetailsModel

@{
    ViewData["Title"] = Model.EstablishmentName;

    const string incomingUkprnField = nameof(Model.IncomingTrustUkprn);
    const string dateOfAdvisoryBoardField = nameof(Model.AdvisoryBoardDate);
    const string schoolSharePointLinkField = nameof(Model.EstablishmentSharepointLink);
    const string incomingTrustSharePointLinkField = nameof(Model.IncomingTrustSharepointLink);
    const string outgoingTrustSharePointLinkField = nameof(Model.OutgoingTrustSharepointLink);
    const string isDueTo2RIField = nameof(Model.TwoRequiresImprovement);
    const string isDueToInedaquateOfstedRatingField = nameof(Model.InadequateOfsted);
    const string isDueToIssuesField = nameof(Model.FinancialSafeguardingGovernanceIssues);
    const string outgoingTrustWillCloseField = nameof(Model.OutgoingTrustToClose);    

    var matProject = !string.IsNullOrWhiteSpace(Model.OriginalTrustReferenceNumber);
    var canViewServiceSupport = await Authorization.AuthorizeAsync(User, policyName: UserPolicyConstants.CanViewServiceSupport);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
            @if (matProject)
            {
                <div class="govuk-form-group" id="incoming-trust-ukprn">
                    <govuk-input name="@incomingUkprnField" input-class="govuk-input--width-10" asp-for="@Model.IncomingTrustUkprn">
                        <govuk-input-label class="govuk-label--m">Incoming trust UKPRN (UK Provider Reference Number)</govuk-input-label>
                        <govuk-input-hint>
                            <p>
                                A UKPRN is an 8-digit number that always starts with a 1.
                            </p>
                            <p>
                                <external-link href="https://www.get-information-schools.service.gov.uk/Search?SelectedTab=Groups">
                                    Search GIAS to find the incoming trust's UKPRN (opens in a new tab).
                                </external-link>
                            </p>
                        </govuk-input-hint>
                        @if (Model.ErrorService.HasErrorForKey(@incomingUkprnField))
                        {
                            <govuk-input-error-message>@(Model.ErrorService.GetErrorMessage(incomingUkprnField))</govuk-input-error-message>
                        }
                    </govuk-input>
                </div>                
            }
            else
            {
                <input type="hidden" asp-for="@Model.IncomingTrustUkprn" />                
            }        
            
            @if (matProject && canViewServiceSupport.Succeeded)
            {
                @await Html.PartialAsync("Common/_NewTrustReferenceNumber", Model)                
            }
            else
            {
                <input type="hidden" asp-for="@Model.NewTrustReferenceNumber" />
            }

            <div class="govuk-form-group" id="group-reference-number">
                <govuk-input input-class="govuk-input--width-10" asp-for="@Model.GroupReferenceNumber">
                    <govuk-input-label class="govuk-label--m">Group reference number</govuk-input-label>
                    <govuk-input-hint>
                        <p>
                            If this academy is tansfering as part of a group, enter the group reference number.
                        </p>
                        <p>
                            The reference number begins with the letters GRP and contains up to 8 numbers, like GRP_XXXXXXXX. You can find this on the group's page in Prepare conversions and transfers.
                        </p>
                    </govuk-input-hint>
                </govuk-input>
            </div>

            <div class="govuk-form-group" id="advisory-board">
                <govuk-date-input id="@dateOfAdvisoryBoardField" name-prefix="@dateOfAdvisoryBoardField" asp-for="@Model.AdvisoryBoardDate">
                    <govuk-date-input-fieldset>
                        <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--m">
                            Date of advisory board
                        </govuk-date-input-fieldset-legend>
                        <govuk-date-input-hint>
                            You can find this in the advisory board template.
                        </govuk-date-input-hint>
                        @if (Model.ErrorService.HasErrorForKey(@dateOfAdvisoryBoardField))
                        {
                            <govuk-date-input-error-message>@(Model.ErrorService.GetErrorMessage(dateOfAdvisoryBoardField))</govuk-date-input-error-message>
                        }
                    </govuk-date-input-fieldset>
                </govuk-date-input>

                <govuk-textarea name="AdvisoryBoardConditions" asp-for="@Model.AdvisoryBoardConditions">
                    <govuk-textarea-label class="govuk-label--m">
                        Advisory board conditions
                    </govuk-textarea-label>
                </govuk-textarea>
            </div>

            <div class="govuk-form-group" id="sharepoint-folder-links">
                <govuk-input name="@schoolSharePointLinkField" asp-for="@Model.EstablishmentSharepointLink">
                    <govuk-input-label class="govuk-label--m">School or academy SharePoint link</govuk-input-label>
                    @if (Model.ErrorService.HasErrorForKey(schoolSharePointLinkField))
                    {
                        <govuk-input-error-message>@(Model.ErrorService.GetErrorMessage(schoolSharePointLinkField))</govuk-input-error-message>
                    }
                </govuk-input>

                <govuk-input name="@incomingTrustSharePointLinkField" asp-for="@Model.IncomingTrustSharepointLink">
                    <govuk-input-label class="govuk-label--m">Incoming trust SharePoint link</govuk-input-label>
                    @if (Model.ErrorService.HasErrorForKey(incomingTrustSharePointLinkField))
                    {
                        <govuk-input-error-message>@(Model.ErrorService.GetErrorMessage(incomingTrustSharePointLinkField))</govuk-input-error-message>
                    }
                </govuk-input>

                <govuk-input name="@outgoingTrustSharePointLinkField" asp-for="@Model.OutgoingTrustSharepointLink">
                    <govuk-input-label class="govuk-label--m">Outgoing trust SharePoint link</govuk-input-label>
                    <govuk-input-hint>Provide a link to the SharePoint folder for the outgoing trust. This is where you save all the relevant trust documents.</govuk-input-hint>
                    @if (Model.ErrorService.HasErrorForKey(outgoingTrustSharePointLinkField))
                    {
                        <govuk-input-error-message>@(Model.ErrorService.GetErrorMessage(outgoingTrustSharePointLinkField))</govuk-input-error-message>
                    }
                </govuk-input>
            </div>

            <div class="govuk-form-group" id="two-requires-improvement">
                <govuk-radios name="@isDueTo2RIField" asp-for="@Model.TwoRequiresImprovement">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                            Is this transfer due to intervention 2RI?
                        </govuk-radios-fieldset-legend>

                        <govuk-radios-hint>
                            If an academy receives 2 or more requires improvement ratings (2RI) from Ofsted, it can be transferred to a different trust to improve performance
                        </govuk-radios-hint>

                        @if (Model.ErrorService.HasErrorForKey(isDueTo2RIField))
                        {
                            <govuk-radios-error-message>@(Model.ErrorService.GetErrorMessage(isDueTo2RIField))</govuk-radios-error-message>
                        }

                        <govuk-radios-item checked="@Model.TwoRequiresImprovement" value="true">Yes</govuk-radios-item>
                        <govuk-radios-item checked="@(!Model.TwoRequiresImprovement)" value="false">No</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            </div>

            <div class="govuk-form-group" id="inadequate-ofsted">
                <govuk-radios name="@isDueToInedaquateOfstedRatingField" asp-for="@Model.InadequateOfsted">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                            Is this transfer due to an inadequate Ofsted rating?
                        </govuk-radios-fieldset-legend>

                        @if (Model.ErrorService.HasErrorForKey(isDueToInedaquateOfstedRatingField))
                        {
                            <govuk-radios-error-message>@(Model.ErrorService.GetErrorMessage(isDueToInedaquateOfstedRatingField))</govuk-radios-error-message>
                        }

                        <govuk-radios-item checked="@Model.InadequateOfsted" value="true">Yes</govuk-radios-item>
                        <govuk-radios-item checked="@(!Model.InadequateOfsted)" value="false">No</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            </div>

            <div class="govuk-form-group" id="financial-safeguarding-governance-issues">
                <govuk-radios name="@isDueToIssuesField" asp-for="@Model.FinancialSafeguardingGovernanceIssues">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                            Is this transfer due to financial, safeguarding or governance issues?
                        </govuk-radios-fieldset-legend>

                        @if (Model.ErrorService.HasErrorForKey(isDueToIssuesField))
                        {
                            <govuk-radios-error-message>@(Model.ErrorService.GetErrorMessage(isDueToIssuesField))</govuk-radios-error-message>
                        }

                        <govuk-radios-item checked="@Model.FinancialSafeguardingGovernanceIssues" value="true">Yes</govuk-radios-item>
                        <govuk-radios-item checked="@(!Model.FinancialSafeguardingGovernanceIssues)" value="false">No</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            </div>

            <div class="govuk-form-group" id="outgoing-trust-to-close">
                <govuk-radios name="@outgoingTrustWillCloseField" asp-for="@Model.OutgoingTrustToClose">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                            Will the outgoing trust close once this transfer is completed?
                        </govuk-radios-fieldset-legend>

                        @if (Model.ErrorService.HasErrorForKey(outgoingTrustWillCloseField))
                        {
                            <govuk-radios-error-message>@(Model.ErrorService.GetErrorMessage(outgoingTrustWillCloseField))</govuk-radios-error-message>
                        }

                        <govuk-radios-item checked="@Model.OutgoingTrustToClose" value="true">Yes</govuk-radios-item>
                        <govuk-radios-item checked="@(!Model.OutgoingTrustToClose)" value="false">No</govuk-radios-item>
                    </govuk-radios-fieldset>
                </govuk-radios>
            </div>

            <div class="govuk-form-group" id="project-assignment">
                @await Html.PartialAsync("Common/_IsHandingToRCS", Model)
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                    Continue
                </button>
                <a class="govuk-link" href="@string.Format(RouteConstants.ProjectAbout, Model.ProjectId)">Cancel</a>
            </div>
        </form>
    </div>
</div>
