@using Dfe.Complete.Pages.Projects.List.ProjectsByMonth
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.Complete.Pages.Projects.List.ProjectsByMonth.ProjectsByMonthModel

@{
    var months = ProjectsByMonthModel.GetMonths();
}

<div class="date-range">
    <form method="post">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Date range</legend>

            <div class="govuk-form-group">
                <label class="govuk-label" for="fromDate">from</label>
                <select name="fromDate" id="fromDate" class="govuk-select">
                    @foreach (var month in months)
                    {
                        var _month = month.ToDateMonthYearString();
                        <option selected="@(_month == Model.FromDate)" value="@month.Value">@_month</option>
                    }
                </select>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="toDate">to</label>
                <select name="toDate" id="toDate" class="govuk-select">
                    @foreach (var month in months)
                    {
                        var _month = month.ToDateMonthYearString();
                        <option selected="@(_month == Model.ToDate)" value="@month.Value">@_month</option>
                    }
                </select>
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">Apply</button>
            </div>
        </fieldset>
    </form>
</div>