@page "/projects/all/by-month/conversions/from/{fromMonth}/{fromYear}/to/{toMonth}/{toYear}"
@model Dfe.Complete.Pages.Projects.List.ProjectsByMonth.ConversionProjectsByMonths
@{
    Layout = "List/ProjectsByMonth/DataConsumerView/_ProjectsByMonthsLayout";
    ViewData["Title"] = "Academies opening or transferring";
    
    var months = Model.GetMonths();
}
@section PageHeading
{
<span class="govuk-caption-l">Academies opening or transferring</span>
<h1 class="govuk-heading-l">
    @Model.DateRangeDisplay
</h1>
<p>Schools that will become academies, and academies that will move to a different trust.</p>

<div class="date-range">
    <form method="post">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Date range</legend>

            <div class="govuk-form-group">
                <label class="govuk-label" for="fromDate">from</label>
                <select name="fromDate" id="fromDate" class="govuk-select">
                    @{
                        foreach (var month in months)
                        {
                            var _month = month.ToDateMonthYearString();
                            <option selected="@(_month == Model.FromDate)" value="@month.Value">@_month</option>
                        }
                    }
                </select>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="toDate">to</label>
                <select name="toDate" id="toDate" class="govuk-select">
                    @{
                        foreach (var month in months)
                        {
                            var _month = month.ToDateMonthYearString();
                            <option selected="@(_month == Model.ToDate)" value="@month.Value">@_month</option>
                        }
                    }
                </select>
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">Apply</button>
            </div>
        </fieldset>
    </form></div>
}

<div class="govuk-grid-column-full">
    @{
        if (Model.Projects.Any())
        {
            <partial name="Projects/List/ProjectsByMonth/_ProjectsByMonthTable" model="@Model.Projects" />
        }
        else
        {
            <div class="govuk-inset-text">
                There are no projects due to convert between @Model.FromDate and @Model.ToDate
            </div>
        }
    }
</div>