@page "/projects/{projectId}/internal-contacts/assigned-user/edit"
@model Dfe.Complete.Pages.Projects.InternalContacts.EditAssignedUser

@{
  Layout = "Shared/_Layout";
}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      URN @Model.Project.Urn.Value
    </span>
    <h1 class="govuk-heading-xl"> Change assigned person for @Model.Establishment.Name</h1>

    <form method="post" novalidate>
      <div id="assignment-form-group">
        <govuk-input asp-for="@Model.Email"
                     id="assigned-user"
                     name="email"
                     class="govuk-!-width-three-quarters"
                     value="@Model.Email">
          <govuk-input-label class="govuk-label--m">Email of person</govuk-input-label>
        </govuk-input>
      </div>
      <input type="hidden" name="rawEmail" id="rawEmail">

      <div class="govuk-button-group">
        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="save">
          Continue
        </button>
        <a id="cancel-link-event" class="govuk-link" href="@(Model.DetermineReturnRoute())">Cancel</a>
      </div>
    </form>
  </div>
</div>