@page "/projects/{projectId}/tasks/receive_grant_payment_certificate"
@using Dfe.Complete.Constants
@using Dfe.Complete.Domain.Enums
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@inject Dfe.Complete.Services.ErrorService ErrorService
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.DeclarationOfExpenditureCertificateTask.DeclarationOfExpenditureCertificateTaskModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Receive Declaration of expenditure certificate";
}
@section TaskHeaderHintSection
{
    <div class="govuk-hint">
        <p>Remind the school and trust to complete and return the declaration of expenditure certificate.</p>
        <govuk-details>
            <govuk-details-summary>
                <span class="govuk-details__summary-text">Update the grant assurance spreadsheet</span>
            </govuk-details-summary>
            <govuk-details-text>
                <p>Regional Casework Services team members must <a href="@_configuration["ExternalLinks:UpdateSupportGrantAssuranceReportSpreadsheet"]" target="_blank">update the support grant assurance report spreadsheet (opens in new tab)</a>.</p>
                <p>Do not update this grant assurance report spreadsheet if you work in a team in one of the Regions.</p>
            </govuk-details-text>
        </govuk-details>
    </div>
}
@section TaskSection {
    <form method="post">
        <input type="hidden" asp-for="TasksDataId" />
        <input type="hidden" asp-for="Type" />
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item id="not-applicable" asp-for="@Model.NotApplicable" value="true" name="not-applicable" checked="@Model.NotApplicable">
                    <b>Not applicable</b>
                    <govuk-checkboxes-item-hint>
                        <p>No grant was received</p>
                    </govuk-checkboxes-item-hint>
                </govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes> 
        @if (Model.ReceivedDate == null)
        {
            <govuk-date-input id="received-date" name-prefix="received-date" asp-for="@Model.ReceivedDate">
                <govuk-date-input-fieldset>
                    <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--s">
                        Enter the date you received the declaration of expenditure certificate 
                    </govuk-date-input-fieldset-legend>
                    <govuk-date-input-hint>
                        <p>For example 27 5 2007</p>
                    </govuk-date-input-hint>
                    @if (ErrorService.HasErrorForKey("received-date"))
                    {
                        <govuk-date-input-error-message>@ValidationConstants.ValidDate</govuk-date-input-error-message>
                    }
                </govuk-date-input-fieldset>
            </govuk-date-input>
        }
        else
        {
            <div class="govuk-inset-text">
                <p>DfE received the declaration of expenditure certificate on @Model.ReceivedDate.ToDateString().</p> 
            </div> 
        }
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item id="check-certificate" asp-for="@Model.CheckCertificate" value="true" name="check-certificate" checked="@Model.CheckCertificate">
                    <b>Check the declaration of expenditure certificate is correct</b>
                    <govuk-checkboxes-item-hint>
                        <p>Once they have sent it to you, check they've used the right template and there is no missing information.</p>
                        <govuk-details>
                            <govuk-details-summary>Using the right certificate</govuk-details-summary>
                            <govuk-details-text>
                                <p>If the school only received the £25,000 pre-opening support grant, they need to download and <a href="@_configuration["ExternalLinks:CompleteAcademyConversionsSupportGrantCertificate"]" target="_blank">complete the academy conversions, support grant certificate (opens in new tab)</a>.</p>
                                <p>If the school or trust received a sponsored grant, they need to <a href="@_configuration["ExternalLinks:CompleteCertificateinAnnex2SponsoredAcademiesFunding"]" target="_blank">complete the certificate in Annex 2 of the Sponsored academies funding - advice for sponsors PDF (opens in a new tab)</a>.</p>
                            </govuk-details-text>
                        </govuk-details>
                    </govuk-checkboxes-item-hint>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item id="saved" asp-for="@Model.Saved" value="true" name="saved" checked="@Model.Saved">
                    <b>Save the declaration of expenditure certificate in the academy's SharePoint folder</b>
                </govuk-checkboxes-item> 
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}