@page "/projects/{projectId}/tasks/declaration_of_expenditure_certificate"
@using Dfe.Complete.Constants
@using Dfe.Complete.Domain.Enums
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@inject Dfe.Complete.Services.ErrorService ErrorService
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.DeclarationOfExpenditureCertificateTask.DeclarationOfExpenditureCertificateTaskModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Receive declaration of expenditure certificate";
}
@section TaskHeaderHintSection
{
    <div class="govuk-hint">
        <p>Only do this task if the incoming trust got academy transfer grant funding.</p>
        <p>3 months after the transfer date, remind the trust to complete and return the declaration of expenditure certificate.</p>
        <govuk-details>
            <govuk-details-summary>
                <span class="govuk-details__summary-text">What to do if you have not received the certificate</span>
            </govuk-details-summary>
            <govuk-details-text>
                <p>The incoming trust should send the certificate back to you within 10 days of the first reminder.</p>
                <p>If they do not, send them another reminder.</p>
                <p>Remind them every 10 days until they send it back.</p>
            </govuk-details-text>
        </govuk-details>
    </div>
}
@section TaskSection {
    <form method="post">
        <input type="hidden" asp-for="TasksDataId" />
        <input type="hidden" asp-for="Type" />
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item id="not-applicable" asp-for="@Model.NotApplicable" value="true" name="not-applicable" checked="@Model.NotApplicable">
                    <b>Not applicable</b>
                    <govuk-checkboxes-item-hint><p>No grant was received</p></govuk-checkboxes-item-hint>
                </govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes> 
        <govuk-date-input id="received-date" name-prefix="received-date" asp-for="@Model.ReceivedDate">
            <govuk-date-input-fieldset>
                <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--s">
                    Enter the date you received the declaration of expenditure certificate
                </govuk-date-input-fieldset-legend>
                <govuk-date-input-hint>
                    <p>For example 27 5 2007</p>
                    @if (ErrorService.HasErrorForKey("received-date"))
                    {
                        <govuk-date-input-error-message>@ValidationConstants.ValidDate</govuk-date-input-error-message>
                    }
                </govuk-date-input-hint>
            </govuk-date-input-fieldset>
        </govuk-date-input>
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item id="check-certificate" asp-for="@Model.CheckCertificate" value="true" name="check-certificate" checked="@Model.CheckCertificate">
                    <b>Check the declaration of expenditure certificate is correct</b>
                    <govuk-checkboxes-item-hint>
                        <p>Make sure the amounts mentioned are accurate. You also need to make sure the grant has been used for allowable expenses and that there is no missing information.</p>
                        <p>Email <a href="mailto:@_configuration["Emails:CfugrantPaymentsRegionsGroup"]">@_configuration["Emails:CfugrantPaymentsRegionsGroup"]</a> if there are any issues.</p>
                        <govuk-details>
                            <govuk-details-summary>How to check the declaration of expenditure certificate</govuk-details-summary>
                            <govuk-details-text>
                                <p>You can read <a href="@_configuration["ExternalLinks:ProcessAndCheckDeclarationOfExpenditureCertificate"]" target="_blank">guidance on how to process and check the declaration of expenditure certificate (opens in new tab)</a> on SharePoint.</p>
                            </govuk-details-text>
                        </govuk-details>
                    </govuk-checkboxes-item-hint>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item id="saved" asp-for="@Model.Saved" value="true" name="saved" checked="@Model.Saved">
                    <b>Save the declaration of expenditure certificate in the academy's SharePoint folder</b>
                </govuk-checkboxes-item>
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}