@page "/projects/{projectId}/tasks/supplemental_funding_agreement"
@using Dfe.Complete.Constants
@using Dfe.Complete.Domain.Enums
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.SupplementalFundingAgreementTask.SupplementalFundingAgreementTaskModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Supplemental funding agreement";
}
@section TaskHeaderHintSection
{
    <span class="govuk-caption-m">
        Check and clear the supplemental funding agreement
    </span>
}
@section TaskSection { 
    <h2 class="govuk-heading-l">
        Check and clear the supplemental funding agreement 
    </h2>
    <div class="govuk-caption-m">
        <p class="govuk-body">You can <a href="@_configuration["ExternalLinks:ViewSupplementalFundingModelDocument"]" target="_blank">view the model documents (opens in new tab)</a> to check for changes.</p>
    </div>

    <govuk-details>
        <govuk-details-summary>
            <span class="govuk-details__summary-text">Help checking the supplemental funding agreement</span>
        </govuk-details-summary>
        <govuk-details-text>
            <p>Changes that personalise the model documents to @(Model.Type == ProjectType.Conversion?"a school":"an academy") or trust, and remove or add optional clauses, are expected. The wording of clauses should not change.</p>
            <p>You'll need to <a href="@_configuration["ExternalLinks:ContactPolicyTeam"]" class="govuk-link" target="_blank">contact the policy team (opens in new tab)</a> about changes to clause text.</p>
            <p>We only accept new supplemental funding agreements that use the 2020 edition of the model documents.</p>
            <p>Master funding agreements from 2018 onwards are compatible with supplemental funding agreements from 2020 onwards.</p>
        </govuk-details-text>
    </govuk-details>


    <form method="post">
        <input type="hidden" asp-for="TasksDataId" />
        <input type="hidden" asp-for="Type" />
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item id="received" asp-for="@Model.Received" value="true" name="received" checked="@Model.Received">
                    <b>Received</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item id="cleared" asp-for="@Model.Cleared" value="true" name="cleared" checked="@Model.Cleared">
                    <b>Cleared</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item id="signed" asp-for="@Model.Signed" value="true" name="signed" checked="@Model.Signed">
                    <b>Signed by school or trust</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item id="saved" asp-for="@Model.Saved" value="true" name="saved" checked="@Model.Saved">
                    <b>Saved in the school's SharePoint folder</b>
                </govuk-checkboxes-item> 
            </govuk-checkboxes-fieldset> 
        </govuk-checkboxes> 
        @if(Model.Type == ProjectType.Conversion)
        {
            <h2 class="govuk-heading-l">
                Signed by the Secretary of State
            </h2>
            <div class="govuk-caption-m">
                <p>The Secretary of State, or somebody with the authority to act on their behalf, must sign the supplemental funding agreement.</p> 
                <p>Usually this is your team leader or the deputy director. </p>
            </div>
            <govuk-checkboxes name="options">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend>
                    </govuk-checkboxes-fieldset-legend>
                    <govuk-checkboxes-item id="sent" asp-for="@Model.Sent" value="true" name="sent" checked="@Model.Sent">
                        <b>Sent to team leader or deputy director</b>
                    </govuk-checkboxes-item>
                    <govuk-checkboxes-item id="signed_secretary_state" asp-for="@Model.SignedSecretaryState" value="true" name="signed_secretary_state" checked="@Model.SignedSecretaryState">
                        <b>Document signed on behalf of the Secretary of State</b>
                    </govuk-checkboxes-item> 
                </govuk-checkboxes-fieldset> 
            </govuk-checkboxes>  
        }
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form> 
}