@page "/projects/{projectId}/tasks/supplemental_funding_agreement"
@using Dfe.Complete.Constants
@using Dfe.Complete.Domain.Enums
@using Dfe.Complete.Utils;
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.SupplementalFundingAgreementTask.SupplementalFundingAgreementTaskModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = Model.TaskIdentifier.ToDisplayDescription();
    var isConversion = Model.Type == ProjectType.Conversion;
}
@section TaskHeaderHintSection
{
    <div class="govuk-hint">
        <p>The Supplemental Funding Agreement (SFA) relates to an individual academy within a multi-academy trust and outlines funding, governance, and compliance requirements.</p>
        <p>As part of the conversion process, a draft SFA must be cleared by the DfE conversion lead prior to signature by all parties.</p>
        <p>You can <external-link href="@_configuration["ExternalLinks:ViewSupplementalFundingModelDocument"]">view the model documents (opens in new tab)</external-link> about changes to clause text.</p>
    </div>
}
@section TaskSection { 
    <h2 class="govuk-heading-l">
        Check and clear the supplemental funding agreement 
    </h2>

    <govuk-details>
        <govuk-details-summary>
            <span class="govuk-details__summary-text">Help checking the supplemental funding agreement</span>
        </govuk-details-summary>
        <govuk-details-text>
            <p>Changes that personalise the model documents to @(Model.Type == ProjectType.Conversion?"a school":"an academy") or trust, and remove or add optional clauses, are expected, otherwise we do not expect any deviations to the model.</p>
            <p>You'll need to <external-link class="govuk-link" href="@_configuration["ExternalLinks:ContactPolicyTeam"]">contact the Schools Operational Practise Unit (opens in new tab)</external-link> about changes to clause text.</p>
            <p>We only accept new supplemental funding agreements that use the 2020 edition of the model documents.</p>
        </govuk-details-text>
    </govuk-details>


    <form method="post">
        <input type="hidden" asp-for="TasksDataId" />
        <input type="hidden" asp-for="Type" />
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item data-cy="received" id="received" asp-for="@Model.Received" value="true" name="received" checked="@Model.Received">
                    <b>Received</b>
                </govuk-checkboxes-item>
                <govuk-checkboxes-item data-cy="cleared" id="cleared" asp-for="@Model.Cleared" value="true" name="cleared" checked="@Model.Cleared">
                    <b>Cleared</b>
                </govuk-checkboxes-item>
                @if (Model.Project.Type == ProjectType.Conversion)
                {
                    <govuk-checkboxes-item data-cy="draft_saved" id="draft_saved" asp-for="@Model.DraftSaved" value="true" name="draft_saved" checked="@Model.DraftSaved">
                        <b>Draft saved in @(isConversion ? "school's " : "academy") SharePoint folder</b>
                    </govuk-checkboxes-item> 
                    <govuk-checkboxes-item data-cy="signed" id="signed" asp-for="@Model.Signed" value="true" name="signed" checked="@Model.Signed">
                        <b>Signed by school or trust</b>
                    </govuk-checkboxes-item>
                    <govuk-checkboxes-item data-cy="signed_secretary_state" id="signed_secretary_state" asp-for="@Model.SignedSecretaryState" value="true" name="signed_secretary_state" checked="@Model.SignedSecretaryState">
                        <b>Signed and sealed on behalf of SoS</b>
                    </govuk-checkboxes-item> 
                }
                <govuk-checkboxes-item data-cy="saved" id="saved" asp-for="@Model.Saved" value="true" name="saved" checked="@Model.Saved">
                    <b>@(isConversion ?
                        "Final version saved in school's SharePoint folder" :
                        "Saved in the academy SharePoint folder"
                    )</b>
                </govuk-checkboxes-item> 
            </govuk-checkboxes-fieldset> 
        </govuk-checkboxes> 
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form> 
}