@page "/projects/{projectId}/tasks/main_contact"
@using Dfe.Complete.Constants
@using Dfe.Complete.Domain.Enums
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.MainContactTask.MainContactTaskModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Confirm the main contact";
    var isConversion = Model.Project.Type == ProjectType.Conversion;
}
@section TaskHeaderHintSection {
    <div class="govuk-hint">
        <p>This is your first point of contact if you have any questions about the project. You may know them as the external project lead.</p>
        <p>They might be from the school, trust, local authority, diocese or they could be a consultant.</p>
        @if(isConversion){
            <p>You must <a href="@string.Format(RouteConstants.ProjectExternalContacts, Model.ProjectId)">add a new contact</a> first if they are not already in the list of contacts.</p>
        }
    </div>
}
@section TaskSection
{
    <form method="post">
        <govuk-radios name="options">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend class="govuk-fieldset__legend--l">
                    Choose a contact 
                </govuk-radios-fieldset-legend>
                @foreach (var contact in Model.Project.Contacts)
                {
                    <govuk-radios-item value="@contact.Id" checked="@(contact.Id.Value == Model.MainContactId)">
                        <b>@contact.Name</b>
                        <br />
                        <govuk-radios-hint>
                            @contact.Title
                        </govuk-radios-hint>
                    </govuk-radios-item>
                }
            </govuk-radios-fieldset>
        </govuk-radios> 
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}