@page "/projects/transfer/new_mat"
@model Dfe.Complete.Pages.Projects.MatTransfer.CreateNewProject
@inject Dfe.Complete.Services.ErrorService ErrorService
@{
    ViewData["Title"] = "Add a form a MAT transfer";

    const string urnField = nameof(Model.URN);
    const string outgoingUkprnField = nameof(Model.OutgoingUKPRN);
    const string trustRefNumber = nameof(Model.TrustReferenceNumber);
    const string trustName = nameof(Model.TrustName);
    const string advisoryBoardDateField = nameof(Model.AdvisoryBoardDate);
    const string provisionalTransferDateField = nameof(Model.SignificantDate);
    const string academySharePointLinkField = nameof(Model.AcademySharePointLink);
    const string incomingTrustSharePointLinkField = nameof(Model.IncomingTrustSharePointLink);
    const string outgoingTrustSharePointLinkField = nameof(Model.OutgoingTrustSharePointLink);
    const string handingToRSCField = nameof(Model.IsHandingToRCS);
    const string isDueToInedaquateOfstedRatingField = nameof(Model.IsDueToInedaquateOfstedRating);
    const string isDueToIssuesField = nameof(Model.IsDueToIssues);
    const string isDueTo2RIField = nameof(Model.IsDueTo2RI);
    const string outgoingTrustWillCloseField = nameof(Model.OutgoingTrustWillClose);
}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @{
                <form method="post">
                    <h2 class="govuk-heading-l">Add a form a MAT transfer</h2>

                    <p class="govuk-body">Enter information about the academy, the new MAT (multi-academy trust) and the advisory board's decision about this academy's transfer.</p>

                    <p class="govuk-body">This will create a new transfer project.</p>

                    <govuk-input id="@urnField" name="@urnField" input-class="govuk-input--width-10" asp-for="@Model.URN">
                        <govuk-input-label class="govuk-label--m">Academy URN (Unique Reference Number)</govuk-input-label>
                        <govuk-input-hint>This is the URN of the existing school which is converting to an academy. A URN is a 6-digit number. You can find it in the advisory board template.</govuk-input-hint>
                        @if (ErrorService.HasErrorForKey(@urnField))
                        {
                            <govuk-input-error-message>@(ErrorService.GetErrorMessage(urnField))</govuk-input-error-message>
                        }
                    </govuk-input>

                    <govuk-input name="@outgoingUkprnField" input-class="govuk-input--width-10" asp-for="@Model.OutgoingUKPRN">
                        <govuk-input-label class="govuk-label--m">Outgoing trust UKPRN (UK Provider Reference Number)</govuk-input-label>
                        <govuk-input-hint>
                            <p>
                                A UKPRN is an 8-digit number that always starts with a 1.
                            </p>
                            <p>
                                <a href="https://www.get-information-schools.service.gov.uk/Search?SelectedTab=Groups" target="_blank">
                                    Search GIAS to find the incoming trust's UKPRN (opens in a new tab).
                                </a>
                            </p>
                        </govuk-input-hint>
                        @if (ErrorService.HasErrorForKey(@outgoingUkprnField))
                        {
                            <govuk-input-error-message>@(ErrorService.GetErrorMessage(outgoingUkprnField))</govuk-input-error-message>
                        }
                    </govuk-input>


                    <govuk-input name="@trustRefNumber" input-class="govuk-input--width-10" asp-for="@Model.TrustReferenceNumber">
                        <govuk-input-label class="govuk-label--m">Trust reference number (TRN)</govuk-input-label>
                        <govuk-input-hint>
                            <p>
                                You can find the TRN in the
                                <a href="https://educationgovuk.sharepoint.com/:x:/s/TrustandAcademyManagementServiceTRAMSPrivateBeta/ETyRXN0eIYxOmCVHTqWxSLYBQvHdfWicu7NybUaDeiz88g" target="_blank">
                                    new trusts spreadsheet (opens in new tab).
                                </a>
                            </p>
                        </govuk-input-hint>
                        @if (ErrorService.HasErrorForKey(trustRefNumber))
                        {
                            <govuk-input-error-message>@(ErrorService.GetErrorMessage(trustRefNumber))</govuk-input-error-message>
                        }
                    </govuk-input>

                    <govuk-input name="@trustName" input-class="govuk-input--width-20" asp-for="@Model.TrustName">
                        <govuk-input-label class="govuk-label--m">Trust name</govuk-input-label>
                        <govuk-input-hint>
                            <p>
                                Enter the proposed name for the new trust. This can be changed later on if necessary.
                            </p>
                        </govuk-input-hint>
                        @if (ErrorService.HasErrorForKey(trustName))
                        {
                            <govuk-input-error-message>@(ErrorService.GetErrorMessage(trustName))</govuk-input-error-message>
                        }
                    </govuk-input>

                    <govuk-input name="@academySharePointLinkField" asp-for="@Model.AcademySharePointLink">
                        <govuk-input-label class="govuk-label--m">Academy SharePoint link</govuk-input-label>
                        <govuk-input-hint>
                            <p>
                                Provide a link to the Sharepoint folder for this academy. This is where you save all the relevant academy documents.
                            </p>
                        </govuk-input-hint>
                        @if (ErrorService.HasErrorForKey(academySharePointLinkField))
                        {
                            <govuk-input-error-message>@(ErrorService.GetErrorMessage(academySharePointLinkField))</govuk-input-error-message>
                        }
                    </govuk-input>

                    <govuk-input name="@incomingTrustSharePointLinkField" asp-for="@Model.IncomingTrustSharePointLink">
                        <govuk-input-label class="govuk-label--m">Incoming trust SharePoint link</govuk-input-label>
                        <govuk-input-hint>Provide a link to the SharePoint folder for the incoming trust. This is where you save all the relevant trust documents.</govuk-input-hint>
                        @if (ErrorService.HasErrorForKey(incomingTrustSharePointLinkField))
                        {
                            <govuk-input-error-message>@(ErrorService.GetErrorMessage(incomingTrustSharePointLinkField))</govuk-input-error-message>
                        }
                    </govuk-input>

                    <govuk-input name="@outgoingTrustSharePointLinkField" asp-for="@Model.OutgoingTrustSharePointLink">
                        <govuk-input-label class="govuk-label--m">Outgoing trust SharePoint link</govuk-input-label>
                        <govuk-input-hint>Provide a link to the SharePoint folder for the outgoing trust. This is where you save all the relevant trust documents.</govuk-input-hint>
                        @if (ErrorService.HasErrorForKey(outgoingTrustSharePointLinkField))
                        {
                            <govuk-input-error-message>@(ErrorService.GetErrorMessage(outgoingTrustSharePointLinkField))</govuk-input-error-message>
                        }
                    </govuk-input>

                    <govuk-date-input id="@advisoryBoardDateField" name-prefix="@advisoryBoardDateField" asp-for="@Model.AdvisoryBoardDate">
                        <govuk-date-input-fieldset>
                            <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--m">
                                Date of advisory board
                            </govuk-date-input-fieldset-legend>
                            <govuk-date-input-hint>
                                You can find this in the advisory board template.
                            </govuk-date-input-hint>
                            @if (ErrorService.HasErrorForKey(@advisoryBoardDateField))
                            {
                                <govuk-date-input-error-message>@(ErrorService.GetErrorMessage(advisoryBoardDateField))</govuk-date-input-error-message>
                            }
                        </govuk-date-input-fieldset>
                    </govuk-date-input>

                    <govuk-textarea name="AdvisoryBoardConditions" asp-for="@Model.AdvisoryBoardConditions">
                        <govuk-textarea-label class="govuk-label--m">
                            Advisory board conditions
                        </govuk-textarea-label>
                    </govuk-textarea>

                    <govuk-date-input id="@provisionalTransferDateField" name-prefix="@provisionalTransferDateField" asp-for="@Model.SignificantDate">
                        <govuk-date-input-fieldset>
                            <govuk-date-input-fieldset-legend class="govuk-fieldset__legend--m">
                                Provisional transfer date
                            </govuk-date-input-fieldset-legend>
                            <govuk-date-input-hint>
                                You can find this in the advisory board template.
                            </govuk-date-input-hint>
                            @if (ErrorService.HasErrorForKey(@provisionalTransferDateField))
                            {
                                <govuk-date-input-error-message>@(ErrorService.GetErrorMessage(provisionalTransferDateField))</govuk-date-input-error-message>
                            }
                        </govuk-date-input-fieldset>
                    </govuk-date-input>

                    <govuk-radios name="@isDueTo2RIField" asp-for="@Model.IsDueTo2RI">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                                Is this transfer due to intervention 2RI?
                            </govuk-radios-fieldset-legend>

                            <govuk-radios-hint>
                                If an academy receives 2 or more requires improvement ratings (2RI) from Ofsted, it can be transferred to a different trust to improve performance
                            </govuk-radios-hint>

                            @if (ErrorService.HasErrorForKey(isDueTo2RIField))
                            {
                                <govuk-radios-error-message>@(ErrorService.GetErrorMessage(isDueTo2RIField))</govuk-radios-error-message>
                            }

                            <govuk-radios-item checked="@Model.IsDueTo2RI" value="true">Yes</govuk-radios-item>
                            <govuk-radios-item checked="@(!Model.IsDueTo2RI)" value="false">No</govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>

                    <govuk-radios name="@isDueToInedaquateOfstedRatingField" asp-for="@Model.IsDueToInedaquateOfstedRating">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                                Is this transfer due to an inadequate Ofsted rating?
                            </govuk-radios-fieldset-legend>

                            @if (ErrorService.HasErrorForKey(isDueToInedaquateOfstedRatingField))
                            {
                                <govuk-radios-error-message>@(ErrorService.GetErrorMessage(isDueToInedaquateOfstedRatingField))</govuk-radios-error-message>
                            }

                            <govuk-radios-item checked="@Model.IsDueToInedaquateOfstedRating" value="true">Yes</govuk-radios-item>
                            <govuk-radios-item checked="@(!Model.IsDueToInedaquateOfstedRating)" value="false">No</govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>


                    <govuk-radios name="@isDueToIssuesField" asp-for="@Model.IsDueToIssues">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                                Is this transfer due to financial, safeguarding or governance issues?
                            </govuk-radios-fieldset-legend>

                            @if (ErrorService.HasErrorForKey(isDueToIssuesField))
                            {
                                <govuk-radios-error-message>@(ErrorService.GetErrorMessage(isDueToIssuesField))</govuk-radios-error-message>
                            }

                            <govuk-radios-item checked="@Model.IsDueToIssues" value="true">Yes</govuk-radios-item>
                            <govuk-radios-item checked="@(!Model.IsDueToIssues)" value="false">No</govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>

                    <govuk-radios name="@outgoingTrustWillCloseField" asp-for="@Model.OutgoingTrustWillClose">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                                Will the outgoing trust close once this transfer is completed?
                            </govuk-radios-fieldset-legend>

                            @if (ErrorService.HasErrorForKey(outgoingTrustWillCloseField))
                            {
                                <govuk-radios-error-message>@(ErrorService.GetErrorMessage(outgoingTrustWillCloseField))</govuk-radios-error-message>
                            }

                            <govuk-radios-item checked="@Model.OutgoingTrustWillClose" value="true">Yes</govuk-radios-item>
                            <govuk-radios-item checked="@(!Model.OutgoingTrustWillClose)" value="false">No</govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>


                    <govuk-radios name="@handingToRSCField" asp-for="@Model.IsHandingToRCS">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">
                                Are you handing this project over to RCS (Regional Casework Services)?
                            </govuk-radios-fieldset-legend>

                            @if (ErrorService.HasErrorForKey(handingToRSCField))
                            {
                                <govuk-radios-error-message>@(ErrorService.GetErrorMessage(handingToRSCField))</govuk-radios-error-message>
                            }

                            <govuk-radios-item checked="@Model.IsHandingToRCS" value="true">Yes</govuk-radios-item>
                            <govuk-radios-item checked="@(!Model.IsHandingToRCS)" value="false">No</govuk-radios-item>


                        </govuk-radios-fieldset>
                    </govuk-radios>

                    <govuk-textarea name="HandoverComments" asp-for="@Model.HandoverComments">
                        <govuk-textarea-label class="govuk-label--m">
                            Handover comments
                        </govuk-textarea-label>

                        <govuk-textarea-hint>
                            <p>
                                You must describe how the project has progressed so far and highlight any issues or concerns.
                            </p>

                            <p>Include information about:</p>

                            <ul>
                                <li>which version of the master funding agreement the incoming trust uses</li>
                                <li>if the introduction and next steps email been sent to the trusts</li>
                                <li>who the Schools Financial Support and Oversight lead is</li>
                                <li>any financial package that has been finalised and agreed</li>
                            </ul>
                        </govuk-textarea-hint>
                    </govuk-textarea>
                    
                    <govuk-button type="submit">Continue</govuk-button>
                </form>
            }
        </div>
    </div>

