@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.List.HandoverProjects.NewHandoverProjectModel
@{
    var message = Model.AssignedToRegionalCaseworkerTeam == true
        ? "Project handed over to Regional Casework Services"
        : "Project assigned";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-panel heading-level="2">
            <govuk-panel-title>@message</govuk-panel-title>
            <govuk-panel-body>@Model.EstablishmentName <br /><strong>URN @Model.UrnId</strong></govuk-panel-body>
        </govuk-panel>
        <h2>What happens next?</h2>
        <p>This project will appear in @(Model.AssignedToRegionalCaseworkerTeam == true ? "Regional Casework Serices": "your") project list.</p>
        <p>You can assign it to a different delivery officer if you will not work on it any more.</p>

        <h2>Add contact details</h2>

        <p class="govuk-body">You must <a href="@string.Format(RouteConstants.ProjectExternalContacts, Model.ProjectId)">add contact details</a> for the:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>school</li>
            <li>trust</li>
            <li>solicitors</li>
            <li>local authority</li>
            <li>diocese (if applicable)</li>
        </ul>
        @if(Model.AssignedToRegionalCaseworkerTeam == true)
        {
            <p class="govuk-body">This will help the person continuing this project to organise the kick-off meeting.</p>
            <p class="govuk-body">Do not add any internal contacts.</p>
        }
        else
        {
            <p class="govuk-body">This will make sure that teams who process funding letters and other legal documents can contact the relevant people.</p>
        }
       
        <form method="post">
            <govuk-button type="submit">Add contacts</govuk-button>
        </form>
        <h2>Hand over a another project</h2>

        <p class="govuk-body">You can <a href="@RouteConstants.HandoverProjects">return to the list of projects to handover</a> if you need to add details to others.</p> 
    </div>
</div>
