@page "/projects/all/handover"
@using Dfe.Complete.Application.Mappers
@using Dfe.Complete.Pages.Projects.List
@model Dfe.Complete.Pages.Projects.List.HandoverProjects.HandoverProjectsModel

@{
    Layout = "List/HandoverProjects/_HandoverProjectsLayout";
    ViewData["Title"] = "Projects to handover";
}

@section PageHeading
{
    @if (Model.DisplayMessage)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-notification-banner class="govuk-notification-banner">
                    <govuk-notification-banner-title>
                        Important
                    </govuk-notification-banner-title>
                    <h3 class="govuk-notification-banner__heading" id="no-urn">
                        No project to be handed over with URN was found
                    </h3>
                </govuk-notification-banner>
            </div>
        </div>
    }
  <h1 class="govuk-heading-l">
        Projects to handover
  </h1>
}  

@if(Model.Pagination?.TotalPages > 1)
{ 
    <div class="govuk-inset-text">
        <div class="dfe-body__search">
            <div>
                <form accept-charset="UTF-8" method="post">
                    <govuk-input id="@nameof(Model.URN)" name="@nameof(Model.URN)" input-class="govuk-input--width-10" asp-for="@Model.URN">
                        <govuk-input-label class="govuk-label--m">Search by URN</govuk-input-label>
                    </govuk-input>
                    <button class="govuk-button" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>
}
<div class="govuk-grid-column-full">
    <p class="govuk-body">These projects have been worked on in Prepare, approved, and automatically added to Complete.</p>
    <p class="govuk-body">However, you must add some missing details before the project can continue.</p>
    <p class="govuk-body">Confirm who will manage these projects next, then add handover notes and contact details.</p>
    <table class="govuk-table" name="projects_table" aria-label="Projects table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">School or academy</th>
                <th class="govuk-table__header" scope="col">URN</th>
                <th class="govuk-table__header" scope="col">Incomg trust</th>
                <th class="govuk-table__header" scope="col">Provisional conversion or transfer date</th>
                <th class="govuk-table__header" scope="col">Advisory board date</th>
                <th class="govuk-table__header" scope="col">Project type</th>
                <th class="govuk-table__header" scope="col">Add handover details</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

            @foreach (var project in Model.Projects)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__header govuk-table__cell">@project.EstablishmentName</td>
                    <td class="govuk-table__cell">@project.Urn.Value</td>
                    <td class="govuk-table__cell">@project.NewTrustName!.ToCamelCase()</td>
                    <td class="govuk-table__cell">@project.ConversionOrTransferDate.ToMonthYearString()</td>
                    <td class="govuk-table__cell">@project.AdvisoryBoardDate.ToDateString()</td>
                    <td class="govuk-table__cell">@project.ProjectType.ToString()</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="@Model.GetHandoverProjectUrl(project.ProjectId)">Add handover details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> 