@using Dfe.Complete.Pages.Projects.List
@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.List.AllProjectsModel
@{
  Layout = "Shared/_Layout";
  var ariaCurrentValue = "page";
  string? IsCurrentNav(string tabName) => Model.CurrentNavigationItem == tabName ? ariaCurrentValue : null;
}

@section BeforeMainFullWidth
{
  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="@IsCurrentNav(AllProjectsModel.HandoverNavigation)" href="/projects/all/handover">Handover</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="@IsCurrentNav(AllProjectsModel.InProgressNavigation)" href="/projects/all/in-progress/all">In progress</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="@IsCurrentNav(AllProjectsModel.ByMonthNavigation)" href="/projects/all/by-month/conversions">By month</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="@IsCurrentNav(AllProjectsModel.ByRegionNavigation)" href="/projects/all/regions">By region</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="@IsCurrentNav(AllProjectsModel.ByUserNavigation)" href="/projects/all/users">By user</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="@IsCurrentNav(AllProjectsModel.ByTrustNavigation)" href="/projects/all/trusts">By trust</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="@IsCurrentNav(AllProjectsModel.ByLocalAuthorityNavigation)" href="/projects/all/local-authorities">By local authority</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="@IsCurrentNav(AllProjectsModel.CompletedNavigation)" href="@RouteConstants.CompletedProjects">Completed</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="@IsCurrentNav(AllProjectsModel.StatisticsNavigation)" href="/projects/all/statistics">Statistics</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
}
@RenderBody()

@if (Model.Pagination != null)
{
  @await Html.PartialAsync("/Pages/Pagination/_Pagination.cshtml", model: Model.Pagination)
}
