@using Dfe.Complete.Pages.Projects.List
@using Dfe.Complete.Constants
@using Dfe.Complete.Domain.Enums;
@using Dfe.Complete.Domain.Constants;
@using Dfe.Complete.Pages.Projects.List.ProjectsByMonth
@using MediatR

@inject ISender sender

@model Dfe.Complete.Pages.Projects.List.AllProjectsModel
@{
    Layout = "Shared/_Layout";
    var ariaCurrentValue = "page";
    string? IsCurrentNav(string tabName) => Model.CurrentNavigationItem == tabName ? ariaCurrentValue : null;

    var user = await User.GetUser(sender);
    var today = DateTime.Now;
    var month = today.Month;
    var year = today.Year;
}

@section BeforeMainFullWidth
{
    <div class="moj-primary-navigation">
        <div class="moj-primary-navigation__container">
            <div class="moj-primary-navigation__nav">
                <nav class="moj-primary-navigation" aria-label="Primary navigation">
                    <ul class="moj-primary-navigation__list">
                        <li class="moj-primary-navigation__item"
                            asp-policy="@UserPolicyConstants.CanViewAllProjectsHandover">
                            <a class="moj-primary-navigation__link"
                                aria-current="@IsCurrentNav(AllProjectsModel.HandoverNavigation)"
                                href="@RouteConstants.ProjectsHandover">Handover</a>
                        </li>
                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link"
                                aria-current="@IsCurrentNav(AllProjectsModel.InProgressNavigation)"
                                href="@RouteConstants.ProjectsInProgress">In progress</a>
                        </li>
                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link"
                                aria-current="@IsCurrentNav(AllProjectsModel.ByMonthNavigation)"
                                href="@ProjectsByMonthModel.GetProjectByMonthsUrl(ProjectType.Conversion, user, month, year, month, year)">
                                By month
                            </a>
                        </li>
                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link"
                                aria-current="@IsCurrentNav(AllProjectsModel.ByRegionNavigation)"
                                href="@RouteConstants.ProjectsByRegion">By region</a>
                        </li>
                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link"
                                aria-current="@IsCurrentNav(AllProjectsModel.ByUserNavigation)"
                                href="@RouteConstants.ProjectsByUser">By user</a>
                        </li>
                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link"
                                aria-current="@IsCurrentNav(AllProjectsModel.ByTrustNavigation)"
                                href="@RouteConstants.ProjectsByTrust">By trust</a>
                        </li>
                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link"
                                aria-current="@IsCurrentNav(AllProjectsModel.ByLocalAuthorityNavigation)"
                                href="@RouteConstants.ProjectsByLocalAuthority">By local authority</a>
                        </li>
                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link"
                                aria-current="@IsCurrentNav(AllProjectsModel.CompletedNavigation)"
                                href="@RouteConstants.CompletedProjects">Completed</a>
                        </li>
                        <li class="moj-primary-navigation__item">
                            <a class="moj-primary-navigation__link"
                                aria-current="@IsCurrentNav(AllProjectsModel.StatisticsNavigation)"
                                href="@RouteConstants.Statistics">Statistics</a>
                        </li>
                        <li class="moj-primary-navigation__item"
                            asp-policy="@UserPolicyConstants.CanViewAllProjectsExports">
                            <a class="moj-primary-navigation__link"
                                aria-current="@IsCurrentNav(AllProjectsModel.ReportsNavigation)"
                                @* This tab needs to say "Exports" until we are redirecting users to the reports tab *@
                                @* At that point, ruby should update to say "Reports" instead - but I think we just have "Exports" until ruby is dropped *@
                                href="@RouteConstants.Reports">Exports</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}
@RenderBody()

@if (Model.Pagination != null)
{
    @await Html.PartialAsync("/Pages/Pagination/_Pagination.cshtml", model: Model.Pagination)
}
